USE [ESG]
GO
/****** Object:  StoredProcedure [dbo].[usp_Load_TCFD_SFDR_REPORTING_SUMMARY]    Script Date: 4/18/2023 12:13:15 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[usp_Load_TCFD_SFDR_REPORTING_SUMMARY]
GO
/****** Object:  StoredProcedure [dbo].[usp_Load_TCFD_SFDR_REPORTING_SUMMARY]    Script Date: 4/18/2023 12:13:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[usp_Load_TCFD_SFDR_REPORTING_SUMMARY]
/*
Logic : 
Insert into [ESG].[ESG].[TCFD_SFDR_REPORTING_SUMMARY] 

Execution step : EXECUTE  [dbo].[usp_Load_TCFD_SFDR_REPORTING_SUMMARY]

-------------------------------------------------------------------------------
Created Date	Version		Created By		Comments
12-Oct-2022		0.1			Wipro			Initial version
24-Mar-2023		0.2			Wipro			Article 6, 8, 9 computation 
-------------------------------------------------------------------------------

*/
AS

BEGIN

DECLARE @YR_QTR VARCHAR(10),
@BatchID INT 

SELECT TOP(1) @YR_QTR = YR_QTR, @BatchID = BatchID
FROM [ESG].[ESG].[TCFD_SFDR_REPORTING_SUMMARY_QuarterEndDates] 
WHERE [ActiveFlg] = 1
ORDER BY [RollingPrevious4QuarterEndDate] DESC



SELECT TOP(1) YR_QTR,  BatchID
FROM [ESG].[ESG].[TCFD_SFDR_REPORTING_SUMMARY_QuarterEndDates] 
WHERE [ActiveFlg] = 1
ORDER BY [RollingPrevious4QuarterEndDate] DESC

;WITH CTE_A
AS
(
SELECT
    [Date] as 'Date',
    [Legal_Entity] as 'Legal_Entity', 
    [Service_Category] as 'Service_Category',
    SUM([DistinctAsset]) as 'DistinctAsset',
    SUM([TotalClients])  as 'TotalClients',
    SUM([TotalPortfolio]) as 'TotalPortfolio',
    SUM([MV_USD]) as 'MV_USD',
    SUM([MV_EUR])  as 'MV_EUR',
    SUM([MV_GBP])  as 'MV_GBP',
    SUM([GHG_SCOPE_1]) as 'GHG_SCOPE_1',
    SUM([GHG_SCOPE_1_COV])  as 'GHG_SCOPE_1_COV',
    SUM([GHG_SCOPE_2])  as 'GHG_SCOPE_2',
    SUM([GHG_SCOPE_2_COV])  as 'GHG_SCOPE_2_COV',
    SUM([GHG_SCOPE_3]) as 'GHG_SCOPE_3',
    SUM([GHG_SCOPE_3_COV]) as 'GHG_SCOPE_3_COV',
	SUM(GHG_SCOPE_123) as 'GHG_SCOPE_123',
	SUM(GHG_SCOPE_123_COV ) as 'GHG_SCOPE_123_COV',
	SUM(GHG_CARBON_FOOTPRINT_USD) as 'GHG_CARBON_FOOTPRINT_USD',
	SUM(GHG_CARBON_FOOTPRINT_USD_COV) as 'GHG_CARBON_FOOTPRINT_USD_COV',
	SUM(GHG_INTENSITY_EUR) as 'GHG_INTENSITY_EUR',
	SUM(GHG_INTENSITY_EUR_COV) as 'GHG_INTENSITY_EUR_COV',
	SUM(ACTIVE_FF_SECTOR_EXPOSURE) as 'ACTIVE_FF_SECTOR_EXPOSURE',
	SUM(ACTIVE_FF_SECTOR_EXPOSURE_COV) as 'ACTIVE_FF_SECTOR_EXPOSURE_COV',
	SUM(GHG_CARBON_FOOTPRINT_SFDR) as 'GHG_CARBON_FOOTPRINT_SFDR',
	SUM(GHG_CARBON_FOOTPRINT_COV_SFDR) as 'GHG_CARBON_FOOTPRINT_COV_SFDR',
	SUM(NON_RENEWABLE_ENERGY_CP_SHARE_SFDR) as 'NON_RENEWABLE_ENERGY_CP_SHARE_SFDR',
	SUM(NON_RENEWABLE_ENERGY_CP_SHARE_COV_SFDR) as 'NON_RENEWABLE_ENERGY_CP_SHARE_COV_SFDR',
	SUM(NOR_NEG_AFCT_BIODIVERSITY_SEN_AREAS_ACT_SFDR) as 'NOR_NEG_AFCT_BIODIVERSITY_SEN_AREAS_ACT_SFDR',
	SUM(NOR_NEG_AFCT_BIODIVERSITY_SEN_AREAS_ACT_COV_SFDR) as 'NOR_NEG_AFCT_BIODIVERSITY_SEN_AREAS_ACT_COV_SFDR',
	SUM(EMISSIONSTO_WATER_SFDR) as 'EMISSIONSTO_WATER_SFDR',
	SUM(EMISSIONSTO_WATER_COV_SFDR) as 'EMISSIONSTO_WATER_COV_SFDR',
	SUM(VIOLATION_OF_UN_GLOBAL_SFDR) as 'VIOLATION_OF_UN_GLOBAL_SFDR',
	SUM(VIOLATION_OF_UN_GLOBAL_COV_SFDR) as 'VIOLATION_OF_UN_GLOBAL_COV_SFDR',
	SUM(HAZARDOUS_WASTE_RATIO_SFDR) as 'HAZARDOUS_WASTE_RATIO_SFDR',
	SUM(HAZARDOUS_WASTE_COV_SFDR) as 'HAZARDOUS_WASTE_COV_SFDR',
	SUM(MECH_UN_GLOBAL_COMPACT_SFDR) as 'MECH_UN_GLOBAL_COMPACT_SFDR',
	SUM(MECH_UN_GLOBAL_COMPACT_COV_SFDR) as 'MECH_UN_GLOBAL_COMPACT_COV_SFDR',
	SUM(UNADJUSTED_GENDER_PAY_GAP_SFDR) as 'UNADJUSTED_GENDER_PAY_GAP_SFDR',
	SUM(UNADJUSTED_GENDER_PAY_GAP_COV_SFDR) as 'UNADJUSTED_GENDER_PAY_GAP_COV_SFDR',
	--SUM(Board_of_Gender_diversity_sfdr) as 'BOARD_OF_GENDER_DENSITY_SFDR',
	--SUM(Board_of_Gender_diversity_cov_sfdr) as 'BOARD_OF_GENDER_DENSITY_COV_SFDR',
	SUM(EXP_TO_CONTROVERSIAL_WEAPONS_SFDR) as 'EXP_TO_CONTROVERSIAL_WEAPONS_SFDR',
	SUM(EXP_TO_CONTROVERSIAL_WEAPONS_COV_SFDR) as 'EXP_TO_CONTROVERSIAL_WEAPONS_COV_SFDR',
	SUM(EU_TAXONOMY_REVENUE_ALIGNMENT_SFDR) as 'EU_TAXONOMY_REVENUE_ALIGNMENT_SFDR',
	SUM(EU_TAXONOMY_REVENUE_ALIGNMENT_COV_SFDR) as 'EU_TAXONOMY_REVENUE_ALIGNMENT_COV_SFDR',
	SUM(GHG_intensity_Sovereign_SFDR) as 'GHG_intensity_Sovereign_SFDR',
	SUM(GHG_intensity_Sovereign_COV_SFDR) as 'GHG_intensity_Sovereign_COV_SFDR',

	SUM(Carbon_Emissions_Scope_12_TCFD) as 'Carbon_Emissions_Scope_12_TCFD',
	SUM(Weighted_average_carbon_intensity_scope12_TCFD) as 'Weighted_average_carbon_intensity_scope12_TCFD',
	SUM(Weighted_average_carbon_intensity_scope12_COV_TCFD) as 'Weighted_average_carbon_intensity_scope12_COV_TCFD',
	SUM(CARBON_FOOTPRINT_TCFD) as 'CARBON_FOOTPRINT_TCFD',
	SUM(Carbon_Emissions_Scope_12_COV_TCFD) as 'Carbon_Emissions_Scope_12_COV_TCFD',
	reporting_group as 'REPORTING_GROUP',

	SUM(HUMAN_RGTS_POLICY) as 'HUMAN_RGTS_POLICY',
	SUM(FUND_SFDR_HUMAN_RGTS_POL_COV) as 'FUND_SFDR_HUMAN_RGTS_POL_COV',
	SUM(CARBON_REDUCT_INITIATIVES) as 'CARBON_REDUCT_INITIATIVES',
	SUM(cov_CARBON_EMISSIONS_REDUCT_INITIATIVES) as 'cov_CARBON_EMISSIONS_REDUCT_INITIATIVES',
	SUM(ENERGY_CONSUMP_INTEN_NACE_A) as 'ENERGY_CONSUMP_INTEN_NACE_A',
	SUM(cov_ENERGY_CONSUMP_INTEN_NACE_A) as 'cov_ENERGY_CONSUMP_INTEN_NACE_A',
	SUM(ENERGY_CONSUMP_INTEN_NACE_B) as 'ENERGY_CONSUMP_INTEN_NACE_B',
	SUM(cov_ENERGY_CONSUMP_INTEN_NACE_B) as 'cov_ENERGY_CONSUMP_INTEN_NACE_B',
	SUM(ENERGY_CONSUMP_INTEN_NACE_C) as 'ENERGY_CONSUMP_INTEN_NACE_C',
	SUM(cov_ENERGY_CONSUMP_INTEN_NACE_C) as 'cov_ENERGY_CONSUMP_INTEN_NACE_C',
	SUM(ENERGY_CONSUMP_INTEN_NACE_D) as 'ENERGY_CONSUMP_INTEN_NACE_D',
	SUM(cov_ENERGY_CONSUMP_INTEN_NACE_D) as 'cov_ENERGY_CONSUMP_INTEN_NACE_D',
	SUM(ENERGY_CONSUMP_INTEN_NACE_E) as 'ENERGY_CONSUMP_INTEN_NACE_E',
	SUM(cov_ENERGY_CONSUMP_INTEN_NACE_E) as 'cov_ENERGY_CONSUMP_INTEN_NACE_E',
	SUM(ENERGY_CONSUMP_INTEN_NACE_F) as 'ENERGY_CONSUMP_INTEN_NACE_F',
	SUM(cov_ENERGY_CONSUMP_INTEN_NACE_F) as 'cov_ENERGY_CONSUMP_INTEN_NACE_F',
	SUM(ENERGY_CONSUMP_INTEN_NACE_G) as 'ENERGY_CONSUMP_INTEN_NACE_G',
	SUM(cov_ENERGY_CONSUMP_INTEN_NACE_G) as 'cov_ENERGY_CONSUMP_INTEN_NACE_G',
	SUM(ENERGY_CONSUMP_INTEN_NACE_H) as 'ENERGY_CONSUMP_INTEN_NACE_H',
	SUM(cov_ENERGY_CONSUMP_INTEN_NACE_H) as 'cov_ENERGY_CONSUMP_INTEN_NACE_H',

	SUM(ENERGY_CONSUMP_INTEN_NACE_L) as 'ENERGY_CONSUMP_INTEN_NACE_L',
	SUM(cov_ENERGY_CONSUMP_INTEN_NACE_L) as 'cov_ENERGY_CONSUMP_INTEN_NACE_L',
	SUM(cov_ENERGY_CONSUMP_INTENSITY) as 'cov_ENERGY_CONSUMP_INTENSITY',
	SUM(CLTV_SFDR_ART6_impact) as 'CLTV_SFDR_ART6_impact',
	SUM(CLTV_SFDR_ART8_impact) as 'CLTV_SFDR_ART8_impact',
	SUM(CLTV_SFDR_ART9_impact) as 'CLTV_SFDR_ART9_impact',
	SUM(cltv_art_6_8_9_mv_eur) as 'cltv_art_6_8_9_mv_eur',
	SUM(sov_intensity_mv_gbp) as 'sov_intensity_mv_gbp',
	SUM(GOVERNMENT_EU_SANCTIONS_COV) as 'GOVERNMENT_EU_SANCTIONS_COV',
	SUM(UNIQUE_SOV_SANCTIONS_COUNT) as 'UNIQUE_SOV_SANCTIONS_COUNT',
	SUM(UNIQUE_SOV_SANCTIONS_PCT) as 'UNIQUE_SOV_SANCTIONS_PCT',
	SUM(sov_eusac_mv_eur) as 'sov_eusac_mv_eur',
	[ASSET_GROUP] as 'ASSET_GROUP',
	SUM([Board_of_Gender_diversity_ratio_sfdr]) as 'Board_of_Gender_diversity_ratio_sfdr',
	SUM([cov_Board_of_Gender_diversity_ratio_sfdr]) as 'cov_Board_of_Gender_diversity_ratio_sfdr',
    SUM([Board_of_Gender_diversity_pct_sfdr]) as 'Board_of_Gender_diversity_pct_sfdr',
    SUM([cov_Board_of_Gender_diversity_pct_sfdr]) as 'cov_Board_of_Gender_diversity_pct_sfdr',

	SUM(SFDR_ART6) as 'SFDR_ART6',
	SUM(SFDR_ART8) as 'SFDR_ART8',
	SUM(SFDR_ART9) as 'SFDR_ART9',
	SUM(Carbon_Emissions_Scope_3_TCFD) as 'Carbon_Emissions_Scope_3_TCFD',
	SUM(Carbon_Emissions_Scope_3_COV_TCFD) as 'Carbon_Emissions_Scope_3_COV_TCFD',
	SUM(Carbon_Emissions_Scope_123_TCFD) as 'Carbon_Emissions_Scope_123_TCFD'

  FROM [ESG].[ESG].[TCFD_LE_SERVICE_SUM] where [Date] IN (SELECT [RollingPrevious4QuarterEndDate] FROM [ESG].[ESG].[TCFD_SFDR_REPORTING_SUMMARY_QuarterEndDates])
  AND DATE IN (SELECT [RollingPrevious4QuarterEndDate] FROM [ESG].[ESG].[TCFD_SFDR_REPORTING_SUMMARY_QuarterEndDates] where ActiveFlg = 1)
  GROUP BY Legal_Entity, Service_Category, [Date], [ASSET_GROUP],reporting_group
)

INSERT INTO [ESG].[ESG].[TCFD_SFDR_REPORTING_SUMMARY] 
(
	  [YR_QTR]
      ,[Run_DATE]
      ,[Service_Category]
      ,[LEGAL_ENTITY]
      ,[DISTINCTASSET]
      ,[TOTALCLIENTS]
      ,[TOTALPORTFOLIO]
      ,[MV_USD]
      ,[MV_EUR]
      ,[MV_GBP]
      ,[GHG_SCOPE_1]
      ,[GHG_SCOPE_1_COV]
      ,[GHG_SCOPE_2]
      ,[GHG_SCOPE_2_COV]
      ,[GHG_SCOPE_3]
      ,[GHG_SCOPE_3_COV]
      ,[GHG_SCOPE_123]
      ,[GHG_SCOPE_123_COV]
      ,[GHG_CARBON_FOOTPRINT_USD]
      ,[GHG_CARBON_FOOTPRINT_USD_COV]
      ,[GHG_INTENSITY_EUR]
      ,[GHG_INTENSITY_EUR_COV]
      ,[ACTIVE_FF_SECTOR_EXPOSURE]
      ,[ACTIVE_FF_SECTOR_EXPOSURE_COV]
      ,[GHG_CARBON_FOOTPRINT_SFDR]
      ,[GHG_CARBON_FOOTPRINT_COV_SFDR]
      ,[NON_RENEWABLE_ENERGY_CP_SHARE_SFDR]
      ,[NON_RENEWABLE_ENERGY_CP_SHARE_COV_SFDR]
      ,[NOR_NEG_AFCT_BIODIVERSITY_SEN_AREAS_ACT_SFDR]
      ,[NOR_NEG_AFCT_BIODIVERSITY_SEN_AREAS_ACT_COV_SFDR]
      ,[EMISSIONSTO_WATER_SFDR]
      ,[EMISSIONSTO_WATER_COV_SFDR]
      ,[VIOLATION_OF_UN_GLOBAL_SFDR]
      ,[VIOLATION_OF_UN_GLOBAL_COV_SFDR]
      ,[HAZARDOUS_WASTE_RATIO_SFDR]
      ,[HAZARDOUS_WASTE_COV_SFDR]
      ,[MECH_UN_GLOBAL_COMPACT_SFDR]
      ,[MECH_UN_GLOBAL_COMPACT_COV_SFDR]
      ,[UNADJUSTED_GENDER_PAY_GAP_SFDR]
      ,[UNADJUSTED_GENDER_PAY_GAP_COV_SFDR]
      ,[EXP_TO_CONTROVERSIAL_WEAPONS_SFDR]
      ,[EXP_TO_CONTROVERSIAL_WEAPONS_COV_SFDR]
      ,[EU_TAXONOMY_REVENUE_ALIGNMENT_SFDR]
      ,[EU_TAXONOMY_REVENUE_ALIGNMENT_COV_SFDR]
      ,[BatchID]
      ,[GHG_intensity_Sovereign_SFDR]
      ,[GHG_intensity_Sovereign_COV_SFDR]
      ,[Carbon_Emissions_Scope_12_TCFD]
      ,[Weighted_average_carbon_intensity_scope12_TCFD]
      ,[Weighted_average_carbon_intensity_scope12_COV_TCFD]
      ,[CARBON_FOOTPRINT_TCFD]
      ,[Carbon_Emissions_Scope_12_COV_TCFD]
      ,[reporting_group]

      ,[HUMAN_RGTS_POLICY]
      ,[FUND_SFDR_HUMAN_RGTS_POL_COV]
      ,[CARBON_REDUCT_INITIATIVES]
      ,[cov_CARBON_EMISSIONS_REDUCT_INITIATIVES]
      ,[ENERGY_CONSUMP_INTEN_NACE_A]
      ,[cov_ENERGY_CONSUMP_INTEN_NACE_A]
      ,[ENERGY_CONSUMP_INTEN_NACE_B]
      ,[cov_ENERGY_CONSUMP_INTEN_NACE_B]
      ,[ENERGY_CONSUMP_INTEN_NACE_C]
      ,[cov_ENERGY_CONSUMP_INTEN_NACE_C]
      ,[ENERGY_CONSUMP_INTEN_NACE_D]
      ,[cov_ENERGY_CONSUMP_INTEN_NACE_D]
      ,[ENERGY_CONSUMP_INTEN_NACE_E]
      ,[cov_ENERGY_CONSUMP_INTEN_NACE_E]
      ,[ENERGY_CONSUMP_INTEN_NACE_F]
      ,[cov_ENERGY_CONSUMP_INTEN_NACE_F]
      ,[ENERGY_CONSUMP_INTEN_NACE_G]
      ,[cov_ENERGY_CONSUMP_INTEN_NACE_G]
      ,[ENERGY_CONSUMP_INTEN_NACE_H]
      ,[cov_ENERGY_CONSUMP_INTEN_NACE_H]
      ,[ENERGY_CONSUMP_INTEN_NACE_L]
      ,[cov_ENERGY_CONSUMP_INTEN_NACE_L]
      ,[cov_ENERGY_CONSUMP_INTENSITY]

      ,[CLTV_SFDR_ART6_impact]
      ,[CLTV_SFDR_ART8_impact]
      ,[CLTV_SFDR_ART9_impact]

      ,[cltv_art_6_8_9_mv_eur]
      ,[sov_intensity_mv_gbp]
      ,[GOVERNMENT_EU_SANCTIONS_COV]
      ,[UNIQUE_SOV_SANCTIONS_COUNT]
      ,[UNIQUE_SOV_SANCTIONS_PCT]
      ,[SOV_EUSAC_MV_EUR]
      ,[ASSET_GROUP]

      ,[Board_of_Gender_diversity_ratio_sfdr]
      ,[cov_Board_of_Gender_diversity_ratio_sfdr]
      ,[Board_of_Gender_diversity_pct_sfdr]
      ,[cov_Board_of_Gender_diversity_pct_sfdr]

      ,[SFDR_ART6]
      ,[SFDR_ART8]
      ,[SFDR_ART9]
      ,[Carbon_Emissions_Scope_3_TCFD]
      ,[Carbon_Emissions_Scope_3_COV_TCFD]
      ,[Carbon_Emissions_Scope_123_TCFD]
	 ) 

	SELECT
	@YR_QTR,
	GETDATE(),
	Service_Category,
	Legal_Entity,
	Round(AVG(DistinctAsset),0) as 'Average DistinctAsset',
	Round(AVG(TotalClients),0) as 'Average TotalClients',
	Round(AVG(TotalPortfolio),0) as 'Average TotalPortfolio',
	Round(AVG(MV_USD),2) as 'Average MV_USD',
	Round(AVG(MV_EUR),2) as 'Average MV_EUR',
	Round(AVG(MV_GBP),2) as 'Average MV_GBP',

	Round(AVG(GHG_SCOPE_1),8) as 'Average GHG_SCOPE_1',
	Round(AVG(GHG_SCOPE_1_COV),8) as 'Average GHG_SCOPE_1_COV',
	Round(AVG(GHG_SCOPE_2), 8) as 'Average GHG_SCOPE_2',
	Round(AVG(GHG_SCOPE_2_COV),8) as 'Average GHG_SCOPE_2_COV',
	Round(AVG(GHG_SCOPE_3),8) as 'Average GHG_SCOPE_3',
	Round(AVG(GHG_SCOPE_3_COV),8) as 'Average GHG_SCOPE_3_COV',
	Round(AVG(GHG_SCOPE_123),8) as 'Average GHG_SCOPE_123',
	Round(AVG(GHG_SCOPE_123_COV),8) as 'Average GHG_SCOPE_123_COV',
	Round(AVG(GHG_CARBON_FOOTPRINT_USD),8) as 'Average GHG_CARBON_FOOTPRINT_USD',
	Round(AVG(GHG_CARBON_FOOTPRINT_USD_COV),8) as 'Average GHG_CARBON_FOOTPRINT_USD_COV',
	Round(AVG(GHG_INTENSITY_EUR),8) as 'Average GHG_INTENSITY_EUR',
	Round(AVG(GHG_INTENSITY_EUR_COV),8) as 'Average GHG_INTENSITY_EUR_COV',

	Round(AVG(ACTIVE_FF_SECTOR_EXPOSURE),8) as 'Average ACTIVE_FF_SECTOR_EXPOSURE',
	Round(AVG(ACTIVE_FF_SECTOR_EXPOSURE_COV),8) as 'Average ACTIVE_FF_SECTOR_EXPOSURE_COV',
	Round(AVG(GHG_CARBON_FOOTPRINT_SFDR),8) as 'Average GHG_CARBON_FOOTPRINT_SFDR',
	Round(AVG(GHG_CARBON_FOOTPRINT_COV_SFDR),8) as 'Average GHG_CARBON_FOOTPRINT_COV_SFDR',
	Round(AVG(NON_RENEWABLE_ENERGY_CP_SHARE_SFDR),8) as 'Average NON_RENEWABLE_ENERGY_CP_SHARE_SFDR',
	Round(AVG(NON_RENEWABLE_ENERGY_CP_SHARE_COV_SFDR),8) as 'Average NON_RENEWABLE_ENERGY_CP_SHARE_COV_SFDR',
	Round(AVG(NOR_NEG_AFCT_BIODIVERSITY_SEN_AREAS_ACT_SFDR),8) as 'Average NON_NEG_AFCT_BIODIVERSITY_SEN_AREAS_ACT_SFDR',
	Round(AVG(NOR_NEG_AFCT_BIODIVERSITY_SEN_AREAS_ACT_COV_SFDR),8) as 'Average NON_NEG_AFCT_BIODIVERSITY_SEN_AREAS_ACT_COV_SFDR',

	Round(AVG(EMISSIONSTO_WATER_SFDR),8) as 'Average EMISSIONSTO_WATER_SFDR',
	Round(AVG(EMISSIONSTO_WATER_COV_SFDR),8) as 'Average EMISSIONSTO_WATER_COV_SFDR',
	Round(AVG(VIOLATION_OF_UN_GLOBAL_SFDR),8) as 'Average VIOLATION_OF_UN_GLOBAL_SFDR',
	Round(AVG(VIOLATION_OF_UN_GLOBAL_COV_SFDR),8) as 'Average VIOLATION_OF_UN_GLOBAL_COV_SFDR',
	Round(AVG(HAZARDOUS_WASTE_RATIO_SFDR),8) as 'Average HAZARDOUS_WASTE_RATIO_SFDR',
	Round(AVG(HAZARDOUS_WASTE_COV_SFDR),8) as 'Average HAZARDOUS_WASTE_COV_SFDR',
	Round(AVG(MECH_UN_GLOBAL_COMPACT_SFDR),8) as 'Average MECH_UN_GLOBAL_COMPACT_SFDR',
	Round(AVG(MECH_UN_GLOBAL_COMPACT_COV_SFDR),8) as 'Average MECH_UN_GLOBAL_COMPACT_COV_SFDR',
	Round(AVG(UNADJUSTED_GENDER_PAY_GAP_SFDR),8) as 'Average UNADJUSTED_GENDER_PAY_GAP_SFDR',
	Round(AVG(UNADJUSTED_GENDER_PAY_GAP_COV_SFDR),8) as 'Average UNADJUSTED_GENDER_PAY_GAP_COV_SFDR',

	Round(AVG(EXP_TO_CONTROVERSIAL_WEAPONS_SFDR),8) as 'Average EXP_TO_CONTROVERSIAL_WEAPONS_SFDR',
	Round(AVG(EXP_TO_CONTROVERSIAL_WEAPONS_COV_SFDR),8) as 'Average EXP_TO_CONTROVERSIAL_WEAPONS_COV_SFDR',
	Round(AVG(EU_TAXONOMY_REVENUE_ALIGNMENT_SFDR),8) as 'Average EU_TAXONOMY_REVENUE_ALIGNMENT_SFDR',
	Round(AVG(EU_TAXONOMY_REVENUE_ALIGNMENT_COV_SFDR),8) as 'Average EU_TAXONOMY_REVENUE_ALIGNMENT_COV_SFDR',
	@BatchID,
	Round(AVG(GHG_intensity_Sovereign_SFDR),8) as 'GHG_intensity_Sovereign_SFDR',
	Round(AVG(GHG_intensity_Sovereign_COV_SFDR),8) as 'GHG_intensity_Sovereign_COV_SFDR',

	Round(AVG(Carbon_Emissions_Scope_12_TCFD),8) as 'Carbon_Emissions_Scope_12_TCFD',
	Round(AVG(Weighted_average_carbon_intensity_scope12_TCFD),8) as 'Weighted_average_carbon_intensity_scope12_TCFD',
	Round(AVG(Weighted_average_carbon_intensity_scope12_COV_TCFD),8) as 'Weighted_average_carbon_intensity_scope12_COV_TCFD',
	Round(AVG(CARBON_FOOTPRINT_TCFD),8) as 'CARBON_FOOTPRINT_TCFD',
	Round(AVG(Carbon_Emissions_Scope_12_COV_TCFD),8) as 'Carbon_Emissions_Scope_12_COV_TCFD',
	reporting_group AS 'reporting_group',

	Round(AVG(HUMAN_RGTS_POLICY),8) as 'HUMAN_RGTS_POLICY',
	Round(AVG(FUND_SFDR_HUMAN_RGTS_POL_COV),8) as 'FUND_SFDR_HUMAN_RGTS_POL_COV',
	Round(AVG(CARBON_REDUCT_INITIATIVES),8) as 'CARBON_REDUCT_INITIATIVES',
	Round(AVG(cov_CARBON_EMISSIONS_REDUCT_INITIATIVES),8) as 'cov_CARBON_EMISSIONS_REDUCT_INITIATIVES',
	Round(AVG(ENERGY_CONSUMP_INTEN_NACE_A),8) as 'ENERGY_CONSUMP_INTEN_NACE_A',
	Round(AVG(cov_ENERGY_CONSUMP_INTEN_NACE_A),8) as 'cov_ENERGY_CONSUMP_INTEN_NACE_A',
	Round(AVG(ENERGY_CONSUMP_INTEN_NACE_B),8) as 'ENERGY_CONSUMP_INTEN_NACE_B',
	Round(AVG(cov_ENERGY_CONSUMP_INTEN_NACE_B),8) as 'cov_ENERGY_CONSUMP_INTEN_NACE_B',
	Round(AVG(ENERGY_CONSUMP_INTEN_NACE_C),8) as 'ENERGY_CONSUMP_INTEN_NACE_C',
	Round(AVG(cov_ENERGY_CONSUMP_INTEN_NACE_C),8) as 'cov_ENERGY_CONSUMP_INTEN_NACE_C',
	Round(AVG(ENERGY_CONSUMP_INTEN_NACE_D),8) as 'ENERGY_CONSUMP_INTEN_NACE_D',
	Round(AVG(cov_ENERGY_CONSUMP_INTEN_NACE_D),8) as 'cov_ENERGY_CONSUMP_INTEN_NACE_D',
	Round(AVG(ENERGY_CONSUMP_INTEN_NACE_E),8) as 'ENERGY_CONSUMP_INTEN_NACE_E',
	Round(AVG(cov_ENERGY_CONSUMP_INTEN_NACE_E),8) as 'cov_ENERGY_CONSUMP_INTEN_NACE_E',
	Round(AVG(ENERGY_CONSUMP_INTEN_NACE_F),8) as 'ENERGY_CONSUMP_INTEN_NACE_F',
	Round(AVG(cov_ENERGY_CONSUMP_INTEN_NACE_F),8) as 'cov_ENERGY_CONSUMP_INTEN_NACE_F',
	Round(AVG(ENERGY_CONSUMP_INTEN_NACE_G),8) as 'ENERGY_CONSUMP_INTEN_NACE_G',
	Round(AVG(cov_ENERGY_CONSUMP_INTEN_NACE_G),8) as 'cov_ENERGY_CONSUMP_INTEN_NACE_G',
	Round(AVG(ENERGY_CONSUMP_INTEN_NACE_H),8) as 'ENERGY_CONSUMP_INTEN_NACE_H',
	Round(AVG(cov_ENERGY_CONSUMP_INTEN_NACE_H),8) as 'cov_ENERGY_CONSUMP_INTEN_NACE_H',

	Round(AVG(ENERGY_CONSUMP_INTEN_NACE_L),8) as 'ENERGY_CONSUMP_INTEN_NACE_L',
	Round(AVG(cov_ENERGY_CONSUMP_INTEN_NACE_L),8) as 'cov_ENERGY_CONSUMP_INTEN_NACE_L',
	Round(AVG(cov_ENERGY_CONSUMP_INTENSITY),8) as 'cov_ENERGY_CONSUMP_INTENSITY',
	Round(AVG(CLTV_SFDR_ART6_impact),8) as 'CLTV_SFDR_ART6_impact',
	Round(AVG(CLTV_SFDR_ART8_impact),8) as 'CLTV_SFDR_ART8_impact',
	Round(AVG(CLTV_SFDR_ART9_impact),8) as 'CLTV_SFDR_ART9_impact',
	Round(AVG(cltv_art_6_8_9_mv_eur),8) as 'cltv_art_6_8_9_mv_eur',
	Round(AVG(sov_intensity_mv_gbp),8) as 'sov_intensity_mv_gbp',
	Round(AVG(GOVERNMENT_EU_SANCTIONS_COV),8) as 'GOVERNMENT_EU_SANCTIONS_COV',
	Round(AVG(UNIQUE_SOV_SANCTIONS_COUNT),8) as 'UNIQUE_SOV_SANCTIONS_COUNT',
	Round(AVG(UNIQUE_SOV_SANCTIONS_PCT),8) as 'UNIQUE_SOV_SANCTIONS_PCT',
	Round(AVG(sov_eusac_mv_eur),8) as 'sov_eusac_mv_eur',
	ASSET_GROUP as 'Asset_Group',

	Round(AVG(Board_of_Gender_diversity_ratio_sfdr),8) as 'Board_of_Gender_diversity_sfdr',
    Round(AVG(cov_Board_of_Gender_diversity_ratio_sfdr),8) as 'cov_Board_of_Gender_diversity_ratio_sfdr',
	Round(AVG(Board_of_Gender_diversity_pct_sfdr),8) as 'Board_of_Gender_diversity_pct_sfdr',
    Round(AVG(cov_Board_of_Gender_diversity_pct_sfdr),8) as 'cov_Board_of_Gender_diversity_pct_sfdr',

	Round(AVG(SFDR_ART6),8) as 'SFDR_ART6',
	Round(AVG(SFDR_ART8),8) as 'SFDR_ART8',
	Round(AVG(SFDR_ART9),8) as 'SFDR_ART9',
	Round(AVG(Carbon_Emissions_Scope_3_TCFD),8) as 'Carbon_Emissions_Scope_3_TCFD',
	Round(AVG(Carbon_Emissions_Scope_3_COV_TCFD),8) as 'Carbon_Emissions_Scope_3_COV_TCFD',
	Round(AVG(Carbon_Emissions_Scope_123_TCFD),8) as 'Carbon_Emissions_Scope_123_TCFD'


FROM CTE_A
GROUP BY Legal_Entity,Service_Category,[ASSET_GROUP],REPORTING_GROUP

END

GO
