USE [ESG]
GO
/****** Object:  StoredProcedure [dbo].[usp_Load_TCFD_SFDR_REPORTING_SUMMARY_AllLegalEntityExceptEPE_Discretionary]    Script Date: 4/18/2023 12:13:15 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[usp_Load_TCFD_SFDR_REPORTING_SUMMARY_AllLegalEntityExceptEPE_Discretionary]
GO
/****** Object:  StoredProcedure [dbo].[usp_Load_TCFD_SFDR_REPORTING_SUMMARY_AllLegalEntityExceptEPE_Discretionary]    Script Date: 4/18/2023 12:13:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[usp_Load_TCFD_SFDR_REPORTING_SUMMARY_AllLegalEntityExceptEPE_Discretionary]
/*
Logic : 
Insert into [ESG].[ESG].[TCFD_SFDR_REPORTING_SUMMARY] for All Legal Entity Except SWE and Discretionary data.

Execution step : EXECUTE  [dbo].[usp_Load_TCFD_SFDR_REPORTING_SUMMARY_AllLegalEntityExceptSWE_Discretionary]

-------------------------------------------------------------------------------
Created Date	Version		Created By		Comments
28-Oct-2022		0.1			Wipro			Initial version 
-------------------------------------------------------------------------------

*/
AS

BEGIN

DECLARE @YR_QTR VARCHAR(10),
@BatchID INT

SELECT TOP(1) @YR_QTR = YR_QTR, @BatchID = BatchID
FROM [ESG].[ESG].[TCFD_SFDR_REPORTING_SUMMARY_QuarterEndDates] 
WHERE [ActiveFlg] = 1
ORDER BY [RollingPrevious4QuarterEndDate] DESC

;WITH CTE_A
AS
(
SELECT
    [Date] as 'Date',
    [Legal_Entity] as 'Legal_Entity', 
    [Service_Category] as 'Service_Category',
    SUM([DistinctAsset]) as 'DistinctAsset',
    SUM([TotalClients])  as 'TotalClients',
    SUM([TotalPortfolio]) as 'TotalPortfolio',
    SUM([MV_USD]) as 'MV_USD',
    SUM([MV_EUR])  as 'MV_EUR',
    SUM([MV_GBP])  as 'MV_GBP',
    SUM([GHG_SCOPE_1]) as 'GHG_SCOPE_1',
    SUM([GHG_SCOPE_1_COV])  as 'GHG_SCOPE_1_COV',
    SUM([GHG_SCOPE_2])  as 'GHG_SCOPE_2',
    SUM([GHG_SCOPE_2_COV])  as 'GHG_SCOPE_2_COV',
    SUM([GHG_SCOPE_3]) as 'GHG_SCOPE_3',
    SUM([GHG_SCOPE_3_COV]) as 'GHG_SCOPE_3_COV',
	SUM(GHG_SCOPE_123) as 'GHG_SCOPE_123',
	SUM(GHG_SCOPE_123_COV ) as 'GHG_SCOPE_123_COV',
	SUM(GHG_CARBON_FOOTPRINT_USD) as 'GHG_CARBON_FOOTPRINT_USD',
	SUM(GHG_CARBON_FOOTPRINT_USD_COV) as 'GHG_CARBON_FOOTPRINT_USD_COV',
	SUM(GHG_INTENSITY_EUR) as 'GHG_INTENSITY_EUR',
	SUM(GHG_INTENSITY_EUR_COV) as 'GHG_INTENSITY_EUR_COV',
	SUM(ACTIVE_FF_SECTOR_EXPOSURE) as 'ACTIVE_FF_SECTOR_EXPOSURE',
	SUM(ACTIVE_FF_SECTOR_EXPOSURE_COV) as 'ACTIVE_FF_SECTOR_EXPOSURE_COV',
	SUM(GHG_CARBON_FOOTPRINT_SFDR) as 'GHG_CARBON_FOOTPRINT_SFDR',
	SUM(GHG_CARBON_FOOTPRINT_COV_SFDR) as 'GHG_CARBON_FOOTPRINT_COV_SFDR',
	SUM(NON_RENEWABLE_ENERGY_CP_SHARE_SFDR) as 'NON_RENEWABLE_ENERGY_CP_SHARE_SFDR',
	SUM(NON_RENEWABLE_ENERGY_CP_SHARE_COV_SFDR) as 'NON_RENEWABLE_ENERGY_CP_SHARE_COV_SFDR',
	SUM(NOR_NEG_AFCT_BIODIVERSITY_SEN_AREAS_ACT_SFDR) as 'NOR_NEG_AFCT_BIODIVERSITY_SEN_AREAS_ACT_SFDR',
	SUM(NOR_NEG_AFCT_BIODIVERSITY_SEN_AREAS_ACT_COV_SFDR) as 'NOR_NEG_AFCT_BIODIVERSITY_SEN_AREAS_ACT_COV_SFDR',
	SUM(EMISSIONSTO_WATER_SFDR) as 'EMISSIONSTO_WATER_SFDR',
	SUM(EMISSIONSTO_WATER_COV_SFDR) as 'EMISSIONSTO_WATER_COV_SFDR',
	SUM(VIOLATION_OF_UN_GLOBAL_SFDR) as 'VIOLATION_OF_UN_GLOBAL_SFDR',
	SUM(VIOLATION_OF_UN_GLOBAL_COV_SFDR) as 'VIOLATION_OF_UN_GLOBAL_COV_SFDR',
	SUM(HAZARDOUS_WASTE_RATIO_SFDR) as 'HAZARDOUS_WASTE_RATIO_SFDR',
	SUM(HAZARDOUS_WASTE_COV_SFDR) as 'HAZARDOUS_WASTE_COV_SFDR',
	SUM(MECH_UN_GLOBAL_COMPACT_SFDR) as 'MECH_UN_GLOBAL_COMPACT_SFDR',
	SUM(MECH_UN_GLOBAL_COMPACT_COV_SFDR) as 'MECH_UN_GLOBAL_COMPACT_COV_SFDR',
	SUM(UNADJUSTED_GENDER_PAY_GAP_SFDR) as 'UNADJUSTED_GENDER_PAY_GAP_SFDR',
	SUM(UNADJUSTED_GENDER_PAY_GAP_COV_SFDR) as 'UNADJUSTED_GENDER_PAY_GAP_COV_SFDR',
	SUM(BOARD_OF_GENDER_DENSITY_SFDR) as 'BOARD_OF_GENDER_DENSITY_SFDR',
	SUM(BOARD_OF_GENDER_DENSITY_COV_SFDR) as 'BOARD_OF_GENDER_DENSITY_COV_SFDR',
	SUM(EXP_TO_CONTROVERSIAL_WEAPONS_SFDR) as 'EXP_TO_CONTROVERSIAL_WEAPONS_SFDR',
	SUM(EXP_TO_CONTROVERSIAL_WEAPONS_COV_SFDR) as 'EXP_TO_CONTROVERSIAL_WEAPONS_COV_SFDR',
	SUM(EU_TAXONOMY_REVENUE_ALIGNMENT_SFDR) as 'EU_TAXONOMY_REVENUE_ALIGNMENT_SFDR',
	SUM(EU_TAXONOMY_REVENUE_ALIGNMENT_COV_SFDR) as 'EU_TAXONOMY_REVENUE_ALIGNMENT_COV_SFDR',
	SUM(GHG_intensity_Sovereign_SFDR) as 'GHG_intensity_Sovereign_SFDR',
	SUM(GHG_intensity_Sovereign_COV_SFDR) as 'GHG_intensity_Sovereign_COV_SFDR',
	SUM(Carbon_Emissions_Scope_12_TCFD) as 'Carbon_Emissions_Scope_12_TCFD',
	SUM(Weighted_average_carbon_intensity_scope12_TCFD) as 'Weighted_average_carbon_intensity_scope12_TCFD',
	SUM(Weighted_average_carbon_intensity_scope12_COV_TCFD) as 'Weighted_average_carbon_intensity_scope12_COV_TCFD',
	SUM(CARBON_FOOTPRINT_TCFD) as 'CARBON_FOOTPRINT_TCFD',
	SUM(Carbon_Emissions_Scope_12_COV_TCFD) as 'Carbon_Emissions_Scope_12_COV_TCFD',
	reporting_group

  FROM [ESG].[ESG].[TCFD_LE_SERVICE_SUM] where [Date] IN (SELECT [RollingPrevious4QuarterEndDate] FROM [ESG].[ESG].[TCFD_SFDR_REPORTING_SUMMARY_QuarterEndDates])
  AND Service_Category = 'Discretionary' AND Legal_Entity = 'All Legal Entity except EPE'
  AND DATE IN (SELECT [RollingPrevious4QuarterEndDate] FROM [ESG].[ESG].[TCFD_SFDR_REPORTING_SUMMARY_QuarterEndDates])
  GROUP BY Legal_Entity, Service_Category, [Date],reporting_group
)


INSERT INTO [ESG].[ESG].[TCFD_SFDR_REPORTING_SUMMARY] 
(
	   [YR_QTR]
      ,[Run_DATE]
      ,[Service_Category]
      ,[LEGAL_ENTITY]
      ,[DISTINCTASSET]
      ,[TOTALCLIENTS]
      ,[TOTALPORTFOLIO]
      ,[MV_USD]
      ,[MV_EUR]
      ,[MV_GBP]
      ,[GHG_SCOPE_1]
      ,[GHG_SCOPE_1_COV]
      ,[GHG_SCOPE_2]
      ,[GHG_SCOPE_2_COV]
      ,[GHG_SCOPE_3]
      ,[GHG_SCOPE_3_COV]
      ,[GHG_SCOPE_123]
      ,[GHG_SCOPE_123_COV]
      ,[GHG_CARBON_FOOTPRINT_USD]
      ,[GHG_CARBON_FOOTPRINT_USD_COV]
      ,[GHG_INTENSITY_EUR]
      ,[GHG_INTENSITY_EUR_COV]
      ,[ACTIVE_FF_SECTOR_EXPOSURE]
      ,[ACTIVE_FF_SECTOR_EXPOSURE_COV]
      ,[GHG_CARBON_FOOTPRINT_SFDR]
      ,[GHG_CARBON_FOOTPRINT_COV_SFDR]
      ,[NON_RENEWABLE_ENERGY_CP_SHARE_SFDR]
      ,[NON_RENEWABLE_ENERGY_CP_SHARE_COV_SFDR]
      ,[NOR_NEG_AFCT_BIODIVERSITY_SEN_AREAS_ACT_SFDR]
      ,[NOR_NEG_AFCT_BIODIVERSITY_SEN_AREAS_ACT_COV_SFDR]
      ,[EMISSIONSTO_WATER_SFDR]
      ,[EMISSIONSTO_WATER_COV_SFDR]
      ,[VIOLATION_OF_UN_GLOBAL_SFDR]
      ,[VIOLATION_OF_UN_GLOBAL_COV_SFDR]
      ,[HAZARDOUS_WASTE_RATIO_SFDR]
      ,[HAZARDOUS_WASTE_COV_SFDR]
      ,[MECH_UN_GLOBAL_COMPACT_SFDR]
      ,[MECH_UN_GLOBAL_COMPACT_COV_SFDR]
      ,[UNADJUSTED_GENDER_PAY_GAP_SFDR]
      ,[UNADJUSTED_GENDER_PAY_GAP_COV_SFDR]
      ,[BOARD_OF_GENDER_DENSITY_SFDR]
      ,[BOARD_OF_GENDER_DENSITY_COV_SFDR]
      ,[EXP_TO_CONTROVERSIAL_WEAPONS_SFDR]
      ,[EXP_TO_CONTROVERSIAL_WEAPONS_COV_SFDR]
      ,[EU_TAXONOMY_REVENUE_ALIGNMENT_SFDR]
      ,[EU_TAXONOMY_REVENUE_ALIGNMENT_COV_SFDR]
	  ,[BatchID]
	  ,[GHG_intensity_Sovereign_SFDR]
	  ,[GHG_intensity_Sovereign_COV_SFDR]
	  ,[Carbon_Emissions_Scope_12_TCFD]
	  ,[Weighted_average_carbon_intensity_scope12_TCFD] 
	  ,[Weighted_average_carbon_intensity_scope12_COV_TCFD]
	  ,[CARBON_FOOTPRINT_TCFD]
	  ,[Carbon_Emissions_Scope_12_COV_TCFD]
	  ,[reporting_group]
	  ) 

SELECT
@YR_QTR,
GETDATE(),
Service_Category,
Legal_Entity,

ROUND(avg(DistinctAsset),0) as 'Average DistinctAsset',
ROUND(avg(TotalClients),0) as 'Average TotalClients',
ROUND(avg(TotalPortfolio),0) as 'Average TotalPortfolio',
ROUND(avg(MV_USD),2) as 'Average MV_USD',
ROUND(avg(MV_EUR),2) as 'Average MV_EUR',
ROUND(avg(MV_GBP),2) as 'Average MV_GBP',

Round(AVG(GHG_SCOPE_1),8) as 'Average GHG_SCOPE_1',
Round(AVG(GHG_SCOPE_1_COV),8) as 'Average GHG_SCOPE_1_COV',
Round(AVG(GHG_SCOPE_2), 8) as 'Average GHG_SCOPE_2',
Round(AVG(GHG_SCOPE_2_COV),8) as 'Average GHG_SCOPE_2_COV',
Round(AVG(GHG_SCOPE_3),8) as 'Average GHG_SCOPE_3',
Round(AVG(GHG_SCOPE_3_COV),8) as 'Average GHG_SCOPE_3_COV',
Round(AVG(GHG_SCOPE_123),8) as 'Average GHG_SCOPE_123',
Round(AVG(GHG_SCOPE_123_COV),8) as 'Average GHG_SCOPE_123_COV',
Round(AVG(GHG_CARBON_FOOTPRINT_USD),8) as 'Average GHG_CARBON_FOOTPRINT_USD',
Round(AVG(GHG_CARBON_FOOTPRINT_USD_COV),8) as 'Average GHG_CARBON_FOOTPRINT_USD_COV',
Round(AVG(GHG_INTENSITY_EUR),8) as 'Average GHG_INTENSITY_EUR',
Round(AVG(GHG_INTENSITY_EUR_COV),8) as 'Average GHG_INTENSITY_EUR_COV',
Round(AVG(ACTIVE_FF_SECTOR_EXPOSURE),8) as 'Average ACTIVE_FF_SECTOR_EXPOSURE',
Round(AVG(ACTIVE_FF_SECTOR_EXPOSURE_COV),8) as 'Average ACTIVE_FF_SECTOR_EXPOSURE_COV',
Round(AVG(GHG_CARBON_FOOTPRINT_SFDR),8) as 'Average GHG_CARBON_FOOTPRINT_SFDR',
Round(AVG(GHG_CARBON_FOOTPRINT_COV_SFDR),8) as 'Average GHG_CARBON_FOOTPRINT_COV_SFDR',
Round(AVG(NON_RENEWABLE_ENERGY_CP_SHARE_SFDR),8) as 'Average NON_RENEWABLE_ENERGY_CP_SHARE_SFDR',
Round(AVG(NON_RENEWABLE_ENERGY_CP_SHARE_COV_SFDR),8) as 'Average NON_RENEWABLE_ENERGY_CP_SHARE_COV_SFDR',
Round(AVG(NOR_NEG_AFCT_BIODIVERSITY_SEN_AREAS_ACT_SFDR),8) as 'Average NOR_NEG_AFCT_BIODIVERSITY_SEN_AREAS_ACT_SFDR',
Round(AVG(NOR_NEG_AFCT_BIODIVERSITY_SEN_AREAS_ACT_COV_SFDR),8) as 'Average NOR_NEG_AFCT_BIODIVERSITY_SEN_AREAS_ACT_COV_SFDR',
Round(AVG(EMISSIONSTO_WATER_SFDR),8) as 'Average EMISSIONSTO_WATER_SFDR',
Round(AVG(EMISSIONSTO_WATER_COV_SFDR),8) as 'Average EMISSIONSTO_WATER_COV_SFDR',
Round(AVG(VIOLATION_OF_UN_GLOBAL_SFDR),8) as 'Average VIOLATION_OF_UN_GLOBAL_SFDR',
Round(AVG(VIOLATION_OF_UN_GLOBAL_COV_SFDR),8) as 'Average VIOLATION_OF_UN_GLOBAL_COV_SFDR',
Round(AVG(HAZARDOUS_WASTE_RATIO_SFDR),8) as 'Average HAZARDOUS_WASTE_RATIO_SFDR',
Round(AVG(HAZARDOUS_WASTE_COV_SFDR),8) as 'Average HAZARDOUS_WASTE_COV_SFDR',
Round(AVG(MECH_UN_GLOBAL_COMPACT_SFDR),8) as 'Average MECH_UN_GLOBAL_COMPACT_SFDR',
Round(AVG(MECH_UN_GLOBAL_COMPACT_COV_SFDR),8) as 'Average MECH_UN_GLOBAL_COMPACT_COV_SFDR',
Round(AVG(UNADJUSTED_GENDER_PAY_GAP_SFDR),8) as 'Average UNADJUSTED_GENDER_PAY_GAP_SFDR',
Round(AVG(UNADJUSTED_GENDER_PAY_GAP_COV_SFDR),8) as 'Average UNADJUSTED_GENDER_PAY_GAP_COV_SFDR',
Round(AVG(BOARD_OF_GENDER_DENSITY_SFDR),8) as 'Average BOARD_OF_GENDER_DENSITY_SFDR',
Round(AVG(BOARD_OF_GENDER_DENSITY_COV_SFDR),8) as 'Average BOARD_OF_GENDER_DENSITY_COV_SFDR',
Round(AVG(EXP_TO_CONTROVERSIAL_WEAPONS_SFDR),8) as 'Average EXP_TO_CONTROVERSIAL_WEAPONS_SFDR',
Round(AVG(EXP_TO_CONTROVERSIAL_WEAPONS_COV_SFDR),8) as 'Average EXP_TO_CONTROVERSIAL_WEAPONS_COV_SFDR',
Round(AVG(EU_TAXONOMY_REVENUE_ALIGNMENT_SFDR),8) as 'Average EU_TAXONOMY_REVENUE_ALIGNMENT_SFDR',
Round(AVG(EU_TAXONOMY_REVENUE_ALIGNMENT_COV_SFDR),8) as 'Average EU_TAXONOMY_REVENUE_ALIGNMENT_COV_SFDR',

@BatchID,
Round(AVG(GHG_intensity_Sovereign_SFDR),8) as 'GHG_intensity_Sovereign_SFDR',
Round(AVG(GHG_intensity_Sovereign_COV_SFDR),8) as 'GHG_intensity_Sovereign_COV_SFDR',

Round(AVG(Carbon_Emissions_Scope_12_TCFD),8) as 'Carbon_Emissions_Scope_12_TCFD',
Round(AVG(Weighted_average_carbon_intensity_scope12_TCFD),8) as 'Weighted_average_carbon_intensity_scope12_TCFD',
Round(AVG(Weighted_average_carbon_intensity_scope12_COV_TCFD),8) as 'Weighted_average_carbon_intensity_scope12_COV_TCFD',
Round(AVG(CARBON_FOOTPRINT_TCFD),8) as 'CARBON_FOOTPRINT_TCFD',
Round(AVG(Carbon_Emissions_Scope_12_COV_TCFD),8) as 'Carbon_Emissions_Scope_12_COV_TCFD',
reporting_group

FROM CTE_A
GROUP BY Legal_Entity,Service_Category,reporting_group

END
GO
