USE [ESG]
GO
/****** Object:  Table [ESG].[CLTV_EUSUSTAINABLEFINANCE]    Script Date: 4/18/2023 12:13:15 PM ******/
DROP TABLE IF EXISTS [ESG].[CLTV_EUSUSTAINABLEFINANCE]
GO
/****** Object:  Table [ESG].[CLTV_EUSUSTAINABLEFINANCE]    Script Date: 4/18/2023 12:13:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ESG].[CLTV_EUSUSTAINABLEFINANCE](
	[FUND_ID] [varchar](50) NOT NULL,
	[FUND_OVERVIEW_NAME] [varchar](255) NULL,
	[FUND_SHARE_CLASS_ID] [varchar](50) NOT NULL,
	[FUND_NAME] [varchar](255) NULL,
	[FUND_CUSIP] [varchar](50) NULL,
	[FUND_SEDOL] [varchar](50) NULL,
	[FUND_ISIN] [varchar](50) NULL,
	[AS_OF_DATE] [date] NOT NULL,
	[FUND_REV_EXP_EST_EU_TAXONOMY_MAX_REV] [decimal](19, 4) NULL,
	[FUND_SFDR_OPS_PROT_BIODIV_CONTROVS] [decimal](19, 4) NULL,
	[FUND_SFDR_FM_BOARD_RATIO] [decimal](19, 4) NULL,
	[FUND_SFDR_FM_BOARD_RATIO_COV] [decimal](19, 4) NULL,
	[FUND_SFDR_WATER_EM_EFF_METRIC_TONS_COV] [decimal](19, 4) NULL,
	[FUND_SFDR_WATER_EM_EFF_METRIC_TONS] [decimal](19, 4) NULL,
	[FUND_SFDR_ACTIVE_FF_SECTOR_EXPOSURE] [decimal](19, 4) NULL,
	[FUND_SFDR_CONTRO_WEAP_CBLMBW_ANYTIE] [decimal](19, 4) NULL,
	[FUND_SFDR_CTRY_GHG_INTEN_GDP_EUR] [decimal](19, 4) NULL,
	[FUND_SFDR_CTRY_GHG_INTEN_GDP_EUR_COV] [decimal](19, 4) NULL,
	[FUND_SFDR_HAZARD_WASTE_METRIC_TON] [decimal](19, 4) NULL,
	[FUND_SFDR_HAZARD_WASTE_METRIC_TON_COV] [decimal](19, 4) NULL,
	[FUND_SFDR_MECH_UN_GLOBAL_COMPACT] [decimal](19, 4) NULL,
	[FUND_SFDR_CARBON_FOOTPRINT_SCOPE_1] [decimal](19, 4) NULL,
	[FUND_SFDR_CARBON_FOOTPRINT_SCOPE_1_COV] [decimal](19, 4) NULL,
	[FUND_SFDR_CARBON_FOOTPRINT_SCOPE_2] [decimal](19, 4) NULL,
	[FUND_SFDR_CARBON_FOOTPRINT_SCOPE_2_COV] [decimal](19, 4) NULL,
	[FUND_SFDR_CARBON_FOOTPRINT_SCOPE_3] [decimal](19, 4) NULL,
	[FUND_SFDR_CARBON_FOOTPRINT_SCOPE_3_COV] [decimal](19, 4) NULL,
	[FUND_SFDR_PCT_NONRENEW_CONSUMP_PROD] [decimal](19, 4) NULL,
	[FUND_SFDR_PCT_NONRENEW_CONSUMP_PROD_COV] [decimal](19, 4) NULL,
	[FUND_SFDR_GENDER_PAY_GAP_RATIO] [decimal](19, 4) NULL,
	[FUND_SFDR_GENDER_PAY_GAP_RATIO_COV] [decimal](19, 4) NULL,
	[FUND_SFDR_VIOLATIONS_UNGC_OECD] [decimal](19, 4) NULL,
	[FP_REG_FRAME_SFDR_ART6] [varchar](50) NULL,
	[FP_REG_FRAME_SFDR_ART8] [varchar](50) NULL,
	[FP_REG_FRAME_SFDR_ART9] [varchar](50) NULL,
	[FUND_SFDR_CARBON_FOOTPRINT] [decimal](19, 4) NULL,
	[FUND_SFDR_CARBON_FOOTPRINT_COV] [decimal](19, 4) NULL,
	[FUND_SFDR_GHG_INTENSITY] [decimal](19, 4) NULL,
	[FUND_SFDR_GHG_INTENSITY_COV] [decimal](19, 4) NULL,
	[FUND_SFDR_ACTIVE_FF_SECTOR_EXPOSURE_COV] [decimal](19, 4) NULL,
	[FUND_SFDR_OPS_PROT_BIODIV_CONTROVS_COV] [decimal](19, 4) NULL,
	[FUND_SFDR_VIOLATIONS_UNGC_OECD_COV] [decimal](19, 4) NULL,
	[FUND_SFDR_MECH_UN_GLOBAL_COMPACT_COV] [decimal](19, 4) NULL,
	[FUND_SFDR_CONTRO_WEAP_CBLMBW_ANYTIE_COV] [decimal](19, 4) NULL,
	[FUND_SFDR_GLOBAL_EU_SANCTIONS_COV] [decimal](19, 4) NULL,
	[SFDR_UPDATE_DATE] [date] NULL,
	[FUND_EU_TAXONOMY_ELIGIBLE_MAX_REV] [decimal](19, 4) NULL,
	[FUND_EU_TAXONOMY_ELIGIBLE_MAX_REV_COV] [decimal](19, 4) NULL,
	[FUND_EU_TAXONOMY_NON_ELIGIBLE_MAX_REV] [decimal](19, 4) NULL,
	[FUND_REV_EXP_EST_EU_TAXONOMY_MAX_REV_COV] [decimal](19, 4) NULL,
	[FUND_SFDR_ENERGY_CONSUMP_INTEN_EUR_COV] [decimal](19, 4) NULL,
	[FUND_SFDR_ENERGY_CONSUMP_INTEN_EUR_NACE_COV_A] [decimal](19, 4) NULL,
	[FUND_SFDR_ENERGY_CONSUMP_INTEN_EUR_NACE_COV_B] [decimal](19, 4) NULL,
	[FUND_SFDR_ENERGY_CONSUMP_INTEN_EUR_NACE_COV_C] [decimal](19, 4) NULL,
	[FUND_SFDR_ENERGY_CONSUMP_INTEN_EUR_NACE_COV_D] [decimal](19, 4) NULL,
	[FUND_SFDR_ENERGY_CONSUMP_INTEN_EUR_NACE_COV_E] [decimal](19, 4) NULL,
	[FUND_SFDR_ENERGY_CONSUMP_INTEN_EUR_NACE_COV_F] [decimal](19, 4) NULL,
	[FUND_SFDR_ENERGY_CONSUMP_INTEN_EUR_NACE_COV_G] [decimal](19, 4) NULL,
	[FUND_SFDR_ENERGY_CONSUMP_INTEN_EUR_NACE_COV_H] [decimal](19, 4) NULL,
	[FUND_SFDR_ENERGY_CONSUMP_INTEN_EUR_NACE_COV_L] [decimal](19, 4) NULL,
	[FUND_SFDR_ENERGY_CONSUMP_INTEN_EUR_NACE_A] [decimal](19, 4) NULL,
	[FUND_SFDR_ENERGY_CONSUMP_INTEN_EUR_NACE_B] [decimal](19, 4) NULL,
	[FUND_SFDR_ENERGY_CONSUMP_INTEN_EUR_NACE_C] [decimal](19, 4) NULL,
	[FUND_SFDR_ENERGY_CONSUMP_INTEN_EUR_NACE_D] [decimal](19, 4) NULL,
	[FUND_SFDR_ENERGY_CONSUMP_INTEN_EUR_NACE_E] [decimal](19, 4) NULL,
	[FUND_SFDR_ENERGY_CONSUMP_INTEN_EUR_NACE_F] [decimal](19, 4) NULL,
	[FUND_SFDR_ENERGY_CONSUMP_INTEN_EUR_NACE_G] [decimal](19, 4) NULL,
	[FUND_SFDR_ENERGY_CONSUMP_INTEN_EUR_NACE_H] [decimal](19, 4) NULL,
	[FUND_SFDR_ENERGY_CONSUMP_INTEN_EUR_NACE_L] [decimal](19, 4) NULL,
	[FUND_SFDR_FEMALE_DIRECTORS_PCT] [decimal](19, 4) NULL,
	[FUND_SFDR_FEMALE_DIRECTORS_COV] [decimal](19, 4) NULL,
	[FUND_EU_SUSTAINABLE_INVESTMENT_SCREEN] [decimal](19, 4) NULL,
	[FUND_EU_SUSTAINABLE_INVESTMENT_SCREEN_COV] [decimal](19, 4) NULL,
	[FUND_EU_SI_SOCIAL_INVOLV_PCT] [decimal](19, 4) NULL,
	[FUND_EU_SI_ENVIRONMENTAL_INVOLV_PCT] [decimal](19, 4) NULL,
	[FUND_EU_SI_SOCIAL_REV] [decimal](19, 4) NULL,
	[FUND_EU_SI_ENVIRONMENTAL_REV] [decimal](19, 4) NULL,
	[FUND_EU_SI_ECON_ACT_PCT_REV] [decimal](19, 4) NULL,
	[FUND_EST_EU_TAXONOMY_MAX_CONTRIB_MITIGATION] [decimal](19, 4) NULL,
	[FUND_EST_EU_TAXONOMY_MAX_CONTRIB_ADAPTATION] [decimal](19, 4) NULL,
	[FUND_SFDR_GLOBAL_EU_SANCTIONS_COUNT] [decimal](19, 4) NULL,
	[FUND_SFDR_GLOBAL_EU_SANCTIONS_PERCENTAGE] [decimal](19, 4) NULL,
	[FUND_CARBON_EMISSIONS_REDUCT_INITIATIVES] [decimal](19, 4) NULL,
	[FUND_CARBON_EMISSIONS_REDUCT_INITIATIVES_COV] [decimal](19, 4) NULL,
	[FUND_SFDR_PROD_CHEM] [decimal](19, 4) NULL,
	[FUND_SFDR_PROD_CHEM_COV] [decimal](19, 4) NULL,
	[FUND_SFDR_OPS_IUCN_NSPECIES] [decimal](19, 4) NULL,
	[FUND_SFDR_OPS_IUCN_NSPECIES_COV] [decimal](19, 4) NULL,
	[FUND_SFDR_DEFOREST_POL] [decimal](19, 4) NULL,
	[FUND_SFDR_DEFOREST_POL_COV] [decimal](19, 4) NULL,
	[FUND_SFDR_WORKPLACE_ACC_PREV_POL] [decimal](19, 4) NULL,
	[FUND_SFDR_WORKPLACE_ACC_PREV_POL_COV] [decimal](19, 4) NULL,
	[FUND_SFDR_TRIR] [decimal](19, 4) NULL,
	[FUND_SFDR_TRIR_COV] [decimal](19, 4) NULL,
	[FUND_SFDR_WHISTLEBLOWER_PROTECT_POLICY] [decimal](19, 4) NULL,
	[FUND_SFDR_WHISTLEBLOWER_PROTECT_POLICY_COV] [decimal](19, 4) NULL,
	[FUND_SFDR_CONTR_DISCRIMINATION_DIV_N_SEVERE] [decimal](19, 4) NULL,
	[FUND_SFDR_CONTR_DISCRIMINATION_DIV_N_SEVERE_COV] [decimal](19, 4) NULL,
	[FUND_SFDR_CEO_EMP_PAY_RATIO_RECENT] [decimal](19, 4) NULL,
	[FUND_SFDR_CEO_EMP_PAY_RATIO_RECENT_COV] [decimal](19, 4) NULL,
	[FUND_SFDR_HUMAN_RGTS_POL] [decimal](19, 4) NULL,
	[FUND_SFDR_HUMAN_RGTS_POL_COV] [decimal](19, 4) NULL,
	[FUND_SFDR_HUMAN_RGTS_DD] [decimal](19, 4) NULL,
	[FUND_SFDR_HUMAN_RGTS_DD_COV] [decimal](19, 4) NULL,
	[FUND_SFDR_HUM_TRAFK_POL] [decimal](19, 4) NULL,
	[FUND_SFDR_HUM_TRAFK_POL_COV] [decimal](19, 4) NULL,
	[FUND_SFDR_OPS_SRISK_CHILD_LABOR] [decimal](19, 4) NULL,
	[FUND_SFDR_OPS_SRISK_CHILD_LABOR_COV] [decimal](19, 4) NULL,
	[FUND_SFDR_RISK_INC_FORC_LAB] [decimal](19, 4) NULL,
	[FUND_SFDR_RISK_INC_FORC_LAB_COV] [decimal](19, 4) NULL,
	[FUND_SFDR_CONTRY_HUMAN_RIGHTS_N_SEVERE] [decimal](19, 4) NULL,
	[FUND_SFDR_CONTRY_HUMAN_RIGHTS_N_SEVERE_COV] [decimal](19, 4) NULL,
	[FUND_SFDR_CORR_BRIB_POLICY_UN] [decimal](19, 4) NULL,
	[FUND_SFDR_CORR_BRIB_POLICY_UN_COV] [decimal](19, 4) NULL,
	[FUND_SFDR_BREACHES_CORRBRIB] [decimal](19, 4) NULL,
	[FUND_SFDR_BREACHES_CORRBRIB_COV] [decimal](19, 4) NULL,
	[FUND_SFDR_GOVERNMENT_RAW_GINI] [decimal](19, 4) NULL,
	[FUND_SFDR_GOVERNMENT_RAW_GINI_COV] [decimal](19, 4) NULL,
	[FUND_SFDR_GOVERNMENT_RAW_PRESS_FREED] [decimal](19, 4) NULL,
	[FUND_SFDR_GOVERNMENT_RAW_PRESS_FREED_COV] [decimal](19, 4) NULL,
	[FUND_SFDR_GOVERNMENT_FUNDAMENTAL_RIGHTS] [decimal](19, 4) NULL,
	[FUND_SFDR_GOVERNMENT_FUNDAMENTAL_RIGHTS_COV] [decimal](19, 4) NULL,
	[FUND_SFDR_GOVERNMENT_RAW_CORR_PERC_INDEX] [decimal](19, 4) NULL,
	[FUND_SFDR_GOVERNMENT_RAW_CORR_PERC_INDEX_COV] [decimal](19, 4) NULL,
	[FUND_SFDR_NON_COOP_TAX_JURIS] [decimal](19, 4) NULL,
	[FUND_SFDR_NON_COOP_TAX_JURIS_COV] [decimal](19, 4) NULL,
	[FUND_SFDR_GOVERNMENT_STABILITY_PEACE_SCORE] [decimal](19, 4) NULL,
	[FUND_SFDR_GOVERNMENT_STABILITY_PEACE_SCORE_COV] [decimal](19, 4) NULL,
	[FUND_SFDR_GOVERNMENT_RAW_RULE_OF_LAW] [decimal](19, 4) NULL,
	[FUND_SFDR_GOVERNMENT_RAW_RULE_OF_LAW_COV] [decimal](19, 4) NULL,
PRIMARY KEY CLUSTERED 
(
	[FUND_SHARE_CLASS_ID] ASC,
	[AS_OF_DATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
