USE [ESG]
GO
/****** Object:  Table [ESG].[STG_CLTV_EUSUSTAINABLEFINANCE]    Script Date: 4/18/2023 12:13:15 PM ******/
DROP TABLE IF EXISTS [ESG].[STG_CLTV_EUSUSTAINABLEFINANCE]
GO
/****** Object:  Table [ESG].[STG_CLTV_EUSUSTAINABLEFINANCE]    Script Date: 4/18/2023 12:13:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ESG].[STG_CLTV_EUSUSTAINABLEFINANCE](
	[FUND_ID] [varchar](50) NOT NULL,
	[FUND_OVERVIEW_NAME] [varchar](255) NULL,
	[FUND_SHARE_CLASS_ID] [varchar](50) NULL,
	[FUND_NAME] [varchar](255) NULL,
	[FUND_CUSIP] [varchar](50) NULL,
	[FUND_SEDOL] [varchar](50) NULL,
	[FUND_ISIN] [varchar](50) NULL,
	[AS_OF_DATE] [varchar](50) NOT NULL,
	[FUND_REV_EXP_EST_EU_TAXONOMY_MAX_REV] [varchar](50) NULL,
	[FUND_SFDR_OPS_PROT_BIODIV_CONTROVS] [varchar](50) NULL,
	[FUND_SFDR_FM_BOARD_RATIO] [varchar](50) NULL,
	[FUND_SFDR_FM_BOARD_RATIO_COV] [varchar](50) NULL,
	[FUND_SFDR_WATER_EM_EFF_METRIC_TONS_COV] [varchar](50) NULL,
	[FUND_SFDR_WATER_EM_EFF_METRIC_TONS] [varchar](50) NULL,
	[FUND_SFDR_ACTIVE_FF_SECTOR_EXPOSURE] [varchar](50) NULL,
	[FUND_SFDR_CONTRO_WEAP_CBLMBW_ANYTIE] [varchar](50) NULL,
	[FUND_SFDR_CTRY_GHG_INTEN_GDP_EUR] [varchar](50) NULL,
	[FUND_SFDR_CTRY_GHG_INTEN_GDP_EUR_COV] [varchar](50) NULL,
	[FUND_SFDR_HAZARD_WASTE_METRIC_TON] [varchar](50) NULL,
	[FUND_SFDR_HAZARD_WASTE_METRIC_TON_COV] [varchar](50) NULL,
	[FUND_SFDR_MECH_UN_GLOBAL_COMPACT] [varchar](50) NULL,
	[FUND_SFDR_CARBON_FOOTPRINT_SCOPE_1] [varchar](50) NULL,
	[FUND_SFDR_CARBON_FOOTPRINT_SCOPE_1_COV] [varchar](50) NULL,
	[FUND_SFDR_CARBON_FOOTPRINT_SCOPE_2] [varchar](50) NULL,
	[FUND_SFDR_CARBON_FOOTPRINT_SCOPE_2_COV] [varchar](50) NULL,
	[FUND_SFDR_CARBON_FOOTPRINT_SCOPE_3] [varchar](50) NULL,
	[FUND_SFDR_CARBON_FOOTPRINT_SCOPE_3_COV] [varchar](50) NULL,
	[FUND_SFDR_PCT_NONRENEW_CONSUMP_PROD] [varchar](50) NULL,
	[FUND_SFDR_PCT_NONRENEW_CONSUMP_PROD_COV] [varchar](50) NULL,
	[FUND_SFDR_GENDER_PAY_GAP_RATIO] [varchar](50) NULL,
	[FUND_SFDR_GENDER_PAY_GAP_RATIO_COV] [varchar](50) NULL,
	[FUND_SFDR_VIOLATIONS_UNGC_OECD] [varchar](50) NULL,
	[FP_REG_FRAME_SFDR_ART6] [varchar](50) NULL,
	[FP_REG_FRAME_SFDR_ART8] [varchar](50) NULL,
	[FP_REG_FRAME_SFDR_ART9] [varchar](50) NULL,
	[FUND_SFDR_CARBON_FOOTPRINT] [varchar](50) NULL,
	[FUND_SFDR_CARBON_FOOTPRINT_COV] [varchar](50) NULL,
	[FUND_SFDR_GHG_INTENSITY] [varchar](50) NULL,
	[FUND_SFDR_GHG_INTENSITY_COV] [varchar](50) NULL,
	[FUND_SFDR_ACTIVE_FF_SECTOR_EXPOSURE_COV] [varchar](50) NULL,
	[FUND_SFDR_OPS_PROT_BIODIV_CONTROVS_COV] [varchar](50) NULL,
	[FUND_SFDR_VIOLATIONS_UNGC_OECD_COV] [varchar](50) NULL,
	[FUND_SFDR_MECH_UN_GLOBAL_COMPACT_COV] [varchar](50) NULL,
	[FUND_SFDR_CONTRO_WEAP_CBLMBW_ANYTIE_COV] [varchar](50) NULL,
	[FUND_SFDR_GLOBAL_EU_SANCTIONS_COV] [varchar](50) NULL,
	[SFDR_UPDATE_DATE] [varchar](50) NULL,
	[FUND_EU_TAXONOMY_ELIGIBLE_MAX_REV] [varchar](50) NULL,
	[FUND_EU_TAXONOMY_ELIGIBLE_MAX_REV_COV] [varchar](50) NULL,
	[FUND_EU_TAXONOMY_NON_ELIGIBLE_MAX_REV] [varchar](50) NULL,
	[FUND_REV_EXP_EST_EU_TAXONOMY_MAX_REV_COV] [decimal](19, 4) NULL,
	[FUND_SFDR_ENERGY_CONSUMP_INTEN_EUR_COV] [varchar](50) NULL,
	[FUND_SFDR_ENERGY_CONSUMP_INTEN_EUR_NACE_COV_A] [varchar](50) NULL,
	[FUND_SFDR_ENERGY_CONSUMP_INTEN_EUR_NACE_COV_B] [varchar](50) NULL,
	[FUND_SFDR_ENERGY_CONSUMP_INTEN_EUR_NACE_COV_C] [varchar](50) NULL,
	[FUND_SFDR_ENERGY_CONSUMP_INTEN_EUR_NACE_COV_D] [varchar](50) NULL,
	[FUND_SFDR_ENERGY_CONSUMP_INTEN_EUR_NACE_COV_E] [varchar](50) NULL,
	[FUND_SFDR_ENERGY_CONSUMP_INTEN_EUR_NACE_COV_F] [varchar](50) NULL,
	[FUND_SFDR_ENERGY_CONSUMP_INTEN_EUR_NACE_COV_G] [varchar](50) NULL,
	[FUND_SFDR_ENERGY_CONSUMP_INTEN_EUR_NACE_COV_H] [varchar](50) NULL,
	[FUND_SFDR_ENERGY_CONSUMP_INTEN_EUR_NACE_COV_L] [varchar](50) NULL,
	[FUND_SFDR_ENERGY_CONSUMP_INTEN_EUR_NACE_A] [varchar](50) NULL,
	[FUND_SFDR_ENERGY_CONSUMP_INTEN_EUR_NACE_B] [varchar](50) NULL,
	[FUND_SFDR_ENERGY_CONSUMP_INTEN_EUR_NACE_C] [varchar](50) NULL,
	[FUND_SFDR_ENERGY_CONSUMP_INTEN_EUR_NACE_D] [varchar](50) NULL,
	[FUND_SFDR_ENERGY_CONSUMP_INTEN_EUR_NACE_E] [varchar](50) NULL,
	[FUND_SFDR_ENERGY_CONSUMP_INTEN_EUR_NACE_F] [varchar](50) NULL,
	[FUND_SFDR_ENERGY_CONSUMP_INTEN_EUR_NACE_G] [varchar](50) NULL,
	[FUND_SFDR_ENERGY_CONSUMP_INTEN_EUR_NACE_H] [varchar](50) NULL,
	[FUND_SFDR_ENERGY_CONSUMP_INTEN_EUR_NACE_L] [varchar](50) NULL,
	[FUND_SFDR_FEMALE_DIRECTORS_PCT] [varchar](50) NULL,
	[FUND_SFDR_FEMALE_DIRECTORS_COV] [varchar](50) NULL,
	[FUND_EU_SUSTAINABLE_INVESTMENT_SCREEN] [varchar](50) NULL,
	[FUND_EU_SUSTAINABLE_INVESTMENT_SCREEN_COV] [varchar](50) NULL,
	[FUND_EU_SI_SOCIAL_INVOLV_PCT] [varchar](50) NULL,
	[FUND_EU_SI_ENVIRONMENTAL_INVOLV_PCT] [varchar](50) NULL,
	[FUND_EU_SI_SOCIAL_REV] [varchar](50) NULL,
	[FUND_EU_SI_ENVIRONMENTAL_REV] [varchar](50) NULL,
	[FUND_EU_SI_ECON_ACT_PCT_REV] [varchar](50) NULL,
	[FUND_EST_EU_TAXONOMY_MAX_CONTRIB_MITIGATION] [varchar](50) NULL,
	[FUND_EST_EU_TAXONOMY_MAX_CONTRIB_ADAPTATION] [varchar](50) NULL,
	[FUND_SFDR_GLOBAL_EU_SANCTIONS_COUNT] [varchar](50) NULL,
	[FUND_SFDR_GLOBAL_EU_SANCTIONS_PERCENTAGE] [varchar](50) NULL,
	[FUND_CARBON_EMISSIONS_REDUCT_INITIATIVES] [varchar](50) NULL,
	[FUND_CARBON_EMISSIONS_REDUCT_INITIATIVES_COV] [varchar](50) NULL,
	[FUND_SFDR_PROD_CHEM] [varchar](50) NULL,
	[FUND_SFDR_PROD_CHEM_COV] [varchar](50) NULL,
	[FUND_SFDR_OPS_IUCN_NSPECIES] [varchar](50) NULL,
	[FUND_SFDR_OPS_IUCN_NSPECIES_COV] [varchar](50) NULL,
	[FUND_SFDR_DEFOREST_POL] [varchar](50) NULL,
	[FUND_SFDR_DEFOREST_POL_COV] [varchar](50) NULL,
	[FUND_SFDR_WORKPLACE_ACC_PREV_POL] [varchar](50) NULL,
	[FUND_SFDR_WORKPLACE_ACC_PREV_POL_COV] [varchar](50) NULL,
	[FUND_SFDR_TRIR] [varchar](50) NULL,
	[FUND_SFDR_TRIR_COV] [varchar](50) NULL,
	[FUND_SFDR_WHISTLEBLOWER_PROTECT_POLICY] [varchar](50) NULL,
	[FUND_SFDR_WHISTLEBLOWER_PROTECT_POLICY_COV] [varchar](50) NULL,
	[FUND_SFDR_CONTR_DISCRIMINATION_DIV_N_SEVERE] [varchar](50) NULL,
	[FUND_SFDR_CONTR_DISCRIMINATION_DIV_N_SEVERE_COV] [varchar](50) NULL,
	[FUND_SFDR_CEO_EMP_PAY_RATIO_RECENT] [varchar](50) NULL,
	[FUND_SFDR_CEO_EMP_PAY_RATIO_RECENT_COV] [varchar](50) NULL,
	[FUND_SFDR_HUMAN_RGTS_POL] [varchar](50) NULL,
	[FUND_SFDR_HUMAN_RGTS_POL_COV] [varchar](50) NULL,
	[FUND_SFDR_HUMAN_RGTS_DD] [varchar](50) NULL,
	[FUND_SFDR_HUMAN_RGTS_DD_COV] [varchar](50) NULL,
	[FUND_SFDR_HUM_TRAFK_POL] [varchar](50) NULL,
	[FUND_SFDR_HUM_TRAFK_POL_COV] [varchar](50) NULL,
	[FUND_SFDR_OPS_SRISK_CHILD_LABOR] [varchar](50) NULL,
	[FUND_SFDR_OPS_SRISK_CHILD_LABOR_COV] [varchar](50) NULL,
	[FUND_SFDR_RISK_INC_FORC_LAB] [varchar](50) NULL,
	[FUND_SFDR_RISK_INC_FORC_LAB_COV] [varchar](50) NULL,
	[FUND_SFDR_CONTRY_HUMAN_RIGHTS_N_SEVERE] [varchar](50) NULL,
	[FUND_SFDR_CONTRY_HUMAN_RIGHTS_N_SEVERE_COV] [varchar](50) NULL,
	[FUND_SFDR_CORR_BRIB_POLICY_UN] [varchar](50) NULL,
	[FUND_SFDR_CORR_BRIB_POLICY_UN_COV] [varchar](50) NULL,
	[FUND_SFDR_BREACHES_CORRBRIB] [varchar](50) NULL,
	[FUND_SFDR_BREACHES_CORRBRIB_COV] [varchar](50) NULL,
	[FUND_SFDR_GOVERNMENT_RAW_GINI] [varchar](50) NULL,
	[FUND_SFDR_GOVERNMENT_RAW_GINI_COV] [varchar](50) NULL,
	[FUND_SFDR_GOVERNMENT_RAW_PRESS_FREED] [varchar](50) NULL,
	[FUND_SFDR_GOVERNMENT_RAW_PRESS_FREED_COV] [varchar](50) NULL,
	[FUND_SFDR_GOVERNMENT_FUNDAMENTAL_RIGHTS] [varchar](50) NULL,
	[FUND_SFDR_GOVERNMENT_FUNDAMENTAL_RIGHTS_COV] [varchar](50) NULL,
	[FUND_SFDR_GOVERNMENT_RAW_CORR_PERC_INDEX] [varchar](50) NULL,
	[FUND_SFDR_GOVERNMENT_RAW_CORR_PERC_INDEX_COV] [varchar](50) NULL,
	[FUND_SFDR_NON_COOP_TAX_JURIS] [varchar](50) NULL,
	[FUND_SFDR_NON_COOP_TAX_JURIS_COV] [varchar](50) NULL,
	[FUND_SFDR_GOVERNMENT_STABILITY_PEACE_SCORE] [varchar](50) NULL,
	[FUND_SFDR_GOVERNMENT_STABILITY_PEACE_SCORE_COV] [varchar](50) NULL,
	[FUND_SFDR_GOVERNMENT_RAW_RULE_OF_LAW] [varchar](50) NULL,
	[FUND_SFDR_GOVERNMENT_RAW_RULE_OF_LAW_COV] [varchar](50) NULL
) ON [PRIMARY]
GO
