USE [ESG]
GO
/****** Object:  Table [ESG].[DIR_CLIMATECHANGE]    Script Date: 4/18/2023 12:13:15 PM ******/
DROP TABLE IF EXISTS [ESG].[DIR_CLIMATECHANGE]
GO
/****** Object:  Table [ESG].[DIR_CLIMATECHANGE]    Script Date: 4/18/2023 12:13:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ESG].[DIR_CLIMATECHANGE](
	[ISSUER_NAME] [varchar](255) NULL,
	[ISSUERID] [varchar](50) NOT NULL,
	[ISSUER_CNTRY_DOMICILE] [varchar](50) NULL,
	[AS_OF_DATE] [date] NOT NULL,
	[CARBON_EMISSIONS_SCOPE_1] [decimal](19, 4) NULL,
	[CARBON_EMISSIONS_SCOPE_12] [decimal](19, 4) NULL,
	[CARBON_EMISSIONS_SCOPE_12_INTEN_3YAVG] [decimal](19, 4) NULL,
	[CARBON_EMISSIONS_SCOPE_12_INDUSTRY_INTENSITY] [decimal](19, 4) NULL,
	[CARBON_EMISSIONS_SCOPE_12_INTEN] [decimal](19, 4) NULL,
	[CARBON_EMISSIONS_SCOPE_12_KEY] [varchar](50) NULL,
	[CARBON_EMISSIONS_SCOPE_2] [decimal](19, 4) NULL,
	[CARBON_EMISSIONS_SOURCE] [varchar](50) NULL,
	[CARBON_EMISSIONS_YEAR] [varchar](50) NULL,
	[CARBON_EMISSIONS_SCOPE_3_DOWNSTREAM_REPORT] [decimal](19, 4) NULL,
	[CARBON_EMISSIONS_SCOPE_3] [decimal](19, 4) NULL,
	[CARBON_EMISSIONS_SCOPE_3_UPSTREAM_REPORT] [decimal](19, 4) NULL,
	[THERMAL_COAL_ANY_TIE] [varchar](50) NULL,
	[TOTAL_POTENTIAL_EMISSIONS] [decimal](19, 4) NULL,
	[TOTAL_ENERGY_CONTENT] [decimal](19, 4) NULL,
	[TOTAL_POTENTIAL_EMISSIONS_EX_MET_COAL] [decimal](19, 4) NULL,
	[MarketCap_USD] [decimal](19, 4) NULL,
	[CARBON_EMISSIONS_EVIC_SCOPE_12_INTEN] [decimal](19, 4) NULL,
	[CBN_EVIC_PUB_DATE] [date] NULL,
	[EVIC_USD_YEAR] [varchar](50) NULL,
	[EVIC_USD_RECENT] [decimal](19, 4) NULL,
	[CARBON_EMISSIONS_SCOPE_3_DOWN] [decimal](19, 4) NULL,
	[CARBON_EMISSIONS_SCOPE_3_TOT_EVIC_INTEN] [decimal](19, 4) NULL,
	[CARBON_EMISSIONS_SCOPE_3_TOTAL] [decimal](19, 4) NULL,
	[CARBON_EMISSIONS_SCOPE_3_UPST_PROF] [decimal](19, 4) NULL,
	[CARBON_EMISSIONS_SCOPE_3_CALCULATION_DATE] [date] NULL,
	[CARBON_EMISSIONS_SCOPE_3_ESTIMATES_YEAR] [varchar](50) NULL,
	[CARBON_EMISSIONS_EVIC_SCOPE_1_INTEN] [decimal](19, 4) NULL,
	[CARBON_EMISSIONS_EVIC_SCOPE_2_INTEN] [decimal](19, 4) NULL,
	[CARBON_EMISSIONS_INTENSITY_SCOPE_1_PROJECTED] [decimal](19, 4) NULL,
	[CARBON_EMISSIONS_INTENSITY_SCOPE_2_PROJECTED] [decimal](19, 4) NULL,
	[CARBON_EMISSIONS_INTENSITY_SCOPE_3_PROJECTED] [decimal](19, 4) NULL,
	[CARBON_EMISSIONS_INTENSITY_COOLING_PROJECTED] [decimal](19, 4) NULL,
	[EVIC_EUR] [decimal](19, 4) NULL,
	[SALES_EUR] [decimal](19, 4) NULL,
	[SALES_USD_RECENT] [decimal](19, 4) NULL,
	[SALES_USD_YEAR] [varchar](50) NULL,
	[CARBON_EMISSIONS_SCOPE123] [decimal](19, 4) NULL,
	[CARBON_EMISSIONS_EVIC_EUR_SCOPE123_INTEN] [decimal](19, 4) NULL,
	[CARBON_EMISSIONS_SALES_EUR_SCOPE123_INTEN] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ISSUERID] ASC,
	[AS_OF_DATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
