USE [ESG]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[ESG].[CLTV_EUSUSFIN_FUND_REF]') AND type in (N'U'))
ALTER TABLE [ESG].[CLTV_EUSUSFIN_FUND_REF] DROP CONSTRAINT IF EXISTS [DF__CLTV_EUSU__LOAD___6FE99F9F]
GO
/****** Object:  Table [ESG].[CLTV_EUSUSFIN_FUND_REF]    Script Date: 4/18/2023 12:13:15 PM ******/
DROP TABLE IF EXISTS [ESG].[CLTV_EUSUSFIN_FUND_REF]
GO
/****** Object:  Table [ESG].[CLTV_EUSUSFIN_FUND_REF]    Script Date: 4/18/2023 12:13:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ESG].[CLTV_EUSUSFIN_FUND_REF](
	[FUND_ISIN] [varchar](50) NULL,
	[FUND_SHARE_CLASS_ID] [varchar](50) NULL,
	[FUND_SEDOL] [varchar](50) NULL,
	[LOAD_DATE] [date] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [ESG].[CLTV_EUSUSFIN_FUND_REF] ADD  DEFAULT (CONVERT([date],getdate())) FOR [LOAD_DATE]
GO
