USE [ESG]
GO
/****** Object:  Table [ESG].[ESG_MSCILOAD_REF]    Script Date: 4/18/2023 12:13:15 PM ******/
DROP TABLE IF EXISTS [ESG].[ESG_MSCILOAD_REF]
GO
/****** Object:  Table [ESG].[ESG_MSCILOAD_REF]    Script Date: 4/18/2023 12:13:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ESG].[ESG_MSCILOAD_REF](
	[MSCI_FL_DATE] [date] NULL,
	[AS_OF_DATE] [date] NULL
) ON [PRIMARY]
GO
