USE [ESG]
GO
/****** Object:  Table [ESG].[STG_DIR_CONTROVERSIES]    Script Date: 4/18/2023 12:13:15 PM ******/
DROP TABLE IF EXISTS [ESG].[STG_DIR_CONTROVERSIES]
GO
/****** Object:  Table [ESG].[STG_DIR_CONTROVERSIES]    Script Date: 4/18/2023 12:13:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ESG].[STG_DIR_CONTROVERSIES](
	[ISSUER_NAME] [varchar](500) NULL,
	[ISSUERID] [varchar](50) NOT NULL,
	[ISSUER_CNTRY_DOMICILE] [varchar](50) NULL,
	[AS_OF_DATE] [varchar](50) NOT NULL,
	[OVERALL_FLAG] [varchar](50) NULL,
	[ENVIRONMENT_LAND_FLAG] [varchar](50) NULL
) ON [PRIMARY]
GO
