USE [ESG]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[ESG].[ASSET_GROUP_REF]') AND type in (N'U'))
ALTER TABLE [ESG].[ASSET_GROUP_REF] DROP CONSTRAINT IF EXISTS [DF__ASSET_GRO__LOAD___70DDC3D8]
GO
/****** Object:  Table [ESG].[ASSET_GROUP_REF]    Script Date: 4/18/2023 12:13:15 PM ******/
DROP TABLE IF EXISTS [ESG].[ASSET_GROUP_REF]
GO
/****** Object:  Table [ESG].[ASSET_GROUP_REF]    Script Date: 4/18/2023 12:13:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ESG].[ASSET_GROUP_REF](
	[SEDOL] [varchar](50) NULL,
	[ISIN] [varchar](50) NULL,
	[ASSET_GROUP] [varchar](50) NULL,
	[FLAG] [varchar](6) NULL,
	[LOAD_DATE] [date] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [ESG].[ASSET_GROUP_REF] ADD  DEFAULT (CONVERT([date],getdate())) FOR [LOAD_DATE]
GO
