USE [ESG]
GO
/****** Object:  Table [ESG].[DIR_CONTROVERSIES]    Script Date: 4/18/2023 12:13:15 PM ******/
DROP TABLE IF EXISTS [ESG].[DIR_CONTROVERSIES]
GO
/****** Object:  Table [ESG].[DIR_CONTROVERSIES]    Script Date: 4/18/2023 12:13:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ESG].[DIR_CONTROVERSIES](
	[ISSUER_NAME] [varchar](500) NULL,
	[ISSUERID] [varchar](50) NOT NULL,
	[ISSUER_CNTRY_DOMICILE] [varchar](50) NULL,
	[AS_OF_DATE] [date] NOT NULL,
	[OVERALL_FLAG] [varchar](50) NULL,
	[ENVIRONMENT_LAND_FLAG] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ISSUERID] ASC,
	[AS_OF_DATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
