USE [ESG]
GO
/****** Object:  Table [ESG].[STG_DIR_CLIMATECHANGE]    Script Date: 4/18/2023 12:13:15 PM ******/
DROP TABLE IF EXISTS [ESG].[STG_DIR_CLIMATECHANGE]
GO
/****** Object:  Table [ESG].[STG_DIR_CLIMATECHANGE]    Script Date: 4/18/2023 12:13:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ESG].[STG_DIR_CLIMATECHANGE](
	[ISSUER_NAME] [varchar](255) NULL,
	[ISSUERID] [varchar](50) NOT NULL,
	[ISSUER_CNTRY_DOMICILE] [varchar](50) NULL,
	[AS_OF_DATE] [varchar](50) NOT NULL,
	[CARBON_EMISSIONS_SCOPE_1] [varchar](50) NULL,
	[CARBON_EMISSIONS_SCOPE_12] [varchar](50) NULL,
	[CARBON_EMISSIONS_SCOPE_12_INTEN_3YAVG] [varchar](50) NULL,
	[CARBON_EMISSIONS_SCOPE_12_INDUSTRY_INTENSITY] [varchar](50) NULL,
	[CARBON_EMISSIONS_SCOPE_12_INTEN] [varchar](50) NULL,
	[CARBON_EMISSIONS_SCOPE_12_KEY] [varchar](50) NULL,
	[CARBON_EMISSIONS_SCOPE_2] [varchar](50) NULL,
	[CARBON_EMISSIONS_SOURCE] [varchar](50) NULL,
	[CARBON_EMISSIONS_YEAR] [varchar](50) NULL,
	[CARBON_EMISSIONS_SCOPE_3_DOWNSTREAM_REPORT] [varchar](50) NULL,
	[CARBON_EMISSIONS_SCOPE_3] [varchar](50) NULL,
	[CARBON_EMISSIONS_SCOPE_3_UPSTREAM_REPORT] [varchar](50) NULL,
	[THERMAL_COAL_ANY_TIE] [varchar](50) NULL,
	[TOTAL_POTENTIAL_EMISSIONS] [varchar](50) NULL,
	[TOTAL_ENERGY_CONTENT] [varchar](50) NULL,
	[TOTAL_POTENTIAL_EMISSIONS_EX_MET_COAL] [varchar](50) NULL,
	[MarketCap_USD] [varchar](50) NULL,
	[CARBON_EMISSIONS_EVIC_SCOPE_12_INTEN] [varchar](50) NULL,
	[CBN_EVIC_PUB_DATE] [varchar](50) NULL,
	[EVIC_USD_YEAR] [varchar](50) NULL,
	[EVIC_USD_RECENT] [varchar](50) NULL,
	[CARBON_EMISSIONS_SCOPE_3_DOWN] [varchar](50) NULL,
	[CARBON_EMISSIONS_SCOPE_3_TOT_EVIC_INTEN] [varchar](50) NULL,
	[CARBON_EMISSIONS_SCOPE_3_TOTAL] [varchar](50) NULL,
	[CARBON_EMISSIONS_SCOPE_3_UPST_PROF] [varchar](50) NULL,
	[CARBON_EMISSIONS_SCOPE_3_CALCULATION_DATE] [varchar](50) NULL,
	[CARBON_EMISSIONS_SCOPE_3_ESTIMATES_YEAR] [varchar](50) NULL,
	[CARBON_EMISSIONS_EVIC_SCOPE_1_INTEN] [varchar](50) NULL,
	[CARBON_EMISSIONS_EVIC_SCOPE_2_INTEN] [varchar](50) NULL,
	[CARBON_EMISSIONS_INTENSITY_SCOPE_1_PROJECTED] [varchar](50) NULL,
	[CARBON_EMISSIONS_INTENSITY_SCOPE_2_PROJECTED] [varchar](50) NULL,
	[CARBON_EMISSIONS_INTENSITY_SCOPE_3_PROJECTED] [varchar](50) NULL,
	[CARBON_EMISSIONS_INTENSITY_COOLING_PROJECTED] [varchar](50) NULL,
	[EVIC_EUR] [varchar](50) NULL,
	[SALES_EUR] [varchar](50) NULL,
	[SALES_USD_RECENT] [varchar](50) NULL,
	[SALES_USD_YEAR] [varchar](50) NULL,
	[CARBON_EMISSIONS_SCOPE123] [varchar](50) NULL,
	[CARBON_EMISSIONS_EVIC_EUR_SCOPE123_INTEN] [varchar](50) NULL,
	[CARBON_EMISSIONS_SALES_EUR_SCOPE123_INTEN] [varchar](50) NULL
) ON [PRIMARY]
GO
