USE [ESG]
GO
/****** Object:  Table [ESG].[TCFD_SFDR_REPORTING_SUMMARY]    Script Date: 4/18/2023 12:13:15 PM ******/
DROP TABLE IF EXISTS [ESG].[TCFD_SFDR_REPORTING_SUMMARY]
GO
/****** Object:  Table [ESG].[TCFD_SFDR_REPORTING_SUMMARY]    Script Date: 4/18/2023 12:13:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ESG].[TCFD_SFDR_REPORTING_SUMMARY](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[YR_QTR] [varchar](10) NULL,
	[Run_DATE] [date] NULL,
	[Service_Category] [varchar](255) NULL,
	[LEGAL_ENTITY] [varchar](255) NULL,
	[DISTINCTASSET] [decimal](19, 8) NULL,
	[TOTALCLIENTS] [decimal](19, 8) NULL,
	[TOTALPORTFOLIO] [decimal](19, 8) NULL,
	[MV_USD] [decimal](38, 8) NULL,
	[MV_EUR] [decimal](38, 8) NULL,
	[MV_GBP] [decimal](38, 8) NULL,
	[GHG_SCOPE_1] [decimal](38, 8) NULL,
	[GHG_SCOPE_1_COV] [decimal](38, 8) NULL,
	[GHG_SCOPE_2] [decimal](38, 8) NULL,
	[GHG_SCOPE_2_COV] [decimal](38, 8) NULL,
	[GHG_SCOPE_3] [decimal](38, 8) NULL,
	[GHG_SCOPE_3_COV] [decimal](38, 8) NULL,
	[GHG_SCOPE_123] [decimal](38, 8) NULL,
	[GHG_SCOPE_123_COV] [decimal](38, 8) NULL,
	[GHG_CARBON_FOOTPRINT_USD] [decimal](38, 8) NULL,
	[GHG_CARBON_FOOTPRINT_USD_COV] [decimal](38, 8) NULL,
	[GHG_INTENSITY_EUR] [decimal](38, 8) NULL,
	[GHG_INTENSITY_EUR_COV] [decimal](38, 8) NULL,
	[ACTIVE_FF_SECTOR_EXPOSURE] [decimal](19, 4) NULL,
	[ACTIVE_FF_SECTOR_EXPOSURE_COV] [decimal](19, 4) NULL,
	[GHG_CARBON_FOOTPRINT_SFDR] [decimal](19, 4) NULL,
	[GHG_CARBON_FOOTPRINT_COV_SFDR] [decimal](19, 4) NULL,
	[NON_RENEWABLE_ENERGY_CP_SHARE_SFDR] [decimal](19, 4) NULL,
	[NON_RENEWABLE_ENERGY_CP_SHARE_COV_SFDR] [decimal](19, 4) NULL,
	[NOR_NEG_AFCT_BIODIVERSITY_SEN_AREAS_ACT_SFDR] [decimal](19, 4) NULL,
	[NOR_NEG_AFCT_BIODIVERSITY_SEN_AREAS_ACT_COV_SFDR] [decimal](19, 4) NULL,
	[EMISSIONSTO_WATER_SFDR] [decimal](19, 4) NULL,
	[EMISSIONSTO_WATER_COV_SFDR] [decimal](19, 4) NULL,
	[VIOLATION_OF_UN_GLOBAL_SFDR] [decimal](19, 4) NULL,
	[VIOLATION_OF_UN_GLOBAL_COV_SFDR] [decimal](19, 4) NULL,
	[HAZARDOUS_WASTE_RATIO_SFDR] [decimal](19, 4) NULL,
	[HAZARDOUS_WASTE_COV_SFDR] [decimal](19, 4) NULL,
	[MECH_UN_GLOBAL_COMPACT_SFDR] [decimal](19, 4) NULL,
	[MECH_UN_GLOBAL_COMPACT_COV_SFDR] [decimal](19, 4) NULL,
	[UNADJUSTED_GENDER_PAY_GAP_SFDR] [decimal](19, 4) NULL,
	[UNADJUSTED_GENDER_PAY_GAP_COV_SFDR] [decimal](19, 4) NULL,
	[EXP_TO_CONTROVERSIAL_WEAPONS_SFDR] [decimal](19, 4) NULL,
	[EXP_TO_CONTROVERSIAL_WEAPONS_COV_SFDR] [decimal](19, 4) NULL,
	[EU_TAXONOMY_REVENUE_ALIGNMENT_SFDR] [decimal](19, 4) NULL,
	[EU_TAXONOMY_REVENUE_ALIGNMENT_COV_SFDR] [decimal](19, 4) NULL,
	[BatchID] [int] NOT NULL,
	[GHG_intensity_Sovereign_SFDR] [decimal](19, 4) NULL,
	[GHG_intensity_Sovereign_COV_SFDR] [decimal](19, 4) NULL,
	[Carbon_Emissions_Scope_12_TCFD] [decimal](19, 4) NULL,
	[Weighted_average_carbon_intensity_scope12_TCFD] [decimal](19, 4) NULL,
	[Weighted_average_carbon_intensity_scope12_COV_TCFD] [decimal](19, 4) NULL,
	[CARBON_FOOTPRINT_TCFD] [decimal](19, 4) NULL,
	[Carbon_Emissions_Scope_12_COV_TCFD] [decimal](19, 4) NULL,
	[reporting_group] [varchar](50) NULL,
	[HUMAN_RGTS_POLICY] [decimal](19, 4) NULL,
	[FUND_SFDR_HUMAN_RGTS_POL_COV] [decimal](19, 4) NULL,
	[CARBON_REDUCT_INITIATIVES] [decimal](19, 4) NULL,
	[cov_CARBON_EMISSIONS_REDUCT_INITIATIVES] [decimal](19, 4) NULL,
	[ENERGY_CONSUMP_INTEN_NACE_A] [decimal](19, 4) NULL,
	[cov_ENERGY_CONSUMP_INTEN_NACE_A] [decimal](19, 4) NULL,
	[ENERGY_CONSUMP_INTEN_NACE_B] [decimal](19, 4) NULL,
	[cov_ENERGY_CONSUMP_INTEN_NACE_B] [decimal](19, 4) NULL,
	[ENERGY_CONSUMP_INTEN_NACE_C] [decimal](19, 4) NULL,
	[cov_ENERGY_CONSUMP_INTEN_NACE_C] [decimal](19, 4) NULL,
	[ENERGY_CONSUMP_INTEN_NACE_D] [decimal](19, 4) NULL,
	[cov_ENERGY_CONSUMP_INTEN_NACE_D] [decimal](19, 4) NULL,
	[ENERGY_CONSUMP_INTEN_NACE_E] [decimal](19, 4) NULL,
	[cov_ENERGY_CONSUMP_INTEN_NACE_E] [decimal](19, 4) NULL,
	[ENERGY_CONSUMP_INTEN_NACE_F] [decimal](19, 4) NULL,
	[cov_ENERGY_CONSUMP_INTEN_NACE_F] [decimal](19, 4) NULL,
	[ENERGY_CONSUMP_INTEN_NACE_G] [decimal](19, 4) NULL,
	[cov_ENERGY_CONSUMP_INTEN_NACE_G] [decimal](19, 4) NULL,
	[ENERGY_CONSUMP_INTEN_NACE_H] [decimal](19, 4) NULL,
	[cov_ENERGY_CONSUMP_INTEN_NACE_H] [decimal](19, 4) NULL,
	[ENERGY_CONSUMP_INTEN_NACE_L] [decimal](19, 4) NULL,
	[cov_ENERGY_CONSUMP_INTEN_NACE_L] [decimal](19, 4) NULL,
	[cov_ENERGY_CONSUMP_INTENSITY] [decimal](19, 4) NULL,
	[CLTV_SFDR_ART6_impact] [decimal](19, 4) NULL,
	[CLTV_SFDR_ART8_impact] [decimal](19, 4) NULL,
	[CLTV_SFDR_ART9_impact] [decimal](19, 4) NULL,
	[cltv_art_6_8_9_mv_eur] [decimal](19, 4) NULL,
	[sov_intensity_mv_gbp] [decimal](19, 4) NULL,
	[GOVERNMENT_EU_SANCTIONS_COV] [decimal](19, 4) NULL,
	[UNIQUE_SOV_SANCTIONS_COUNT] [decimal](19, 4) NULL,
	[UNIQUE_SOV_SANCTIONS_PCT] [decimal](19, 4) NULL,
	[SOV_EUSAC_MV_EUR] [decimal](19, 4) NULL,
	[ASSET_GROUP] [varchar](255) NULL,
	[Board_of_Gender_diversity_ratio_sfdr] [decimal](19, 4) NULL,
	[cov_Board_of_Gender_diversity_ratio_sfdr] [decimal](19, 4) NULL,
	[Board_of_Gender_diversity_pct_sfdr] [decimal](19, 4) NULL,
	[cov_Board_of_Gender_diversity_pct_sfdr] [decimal](19, 4) NULL,
	[SFDR_ART6] [decimal](19, 4) NULL,
	[SFDR_ART8] [decimal](19, 4) NULL,
	[SFDR_ART9] [decimal](19, 4) NULL,
	[Carbon_Emissions_Scope_3_TCFD] [decimal](19, 4) NULL,
	[Carbon_Emissions_Scope_3_COV_TCFD] [decimal](19, 4) NULL,
	[Carbon_Emissions_Scope_123_TCFD] [decimal](19, 4) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[BatchID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
