USE [ESG]
GO
/****** Object:  Table [ESG].[DIR_SFDR]    Script Date: 4/18/2023 12:13:15 PM ******/
DROP TABLE IF EXISTS [ESG].[DIR_SFDR]
GO
/****** Object:  Table [ESG].[DIR_SFDR]    Script Date: 4/18/2023 12:13:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ESG].[DIR_SFDR](
	[ISSUER_NAME] [varchar](500) NULL,
	[ISSUERID] [varchar](50) NOT NULL,
	[ISSUER_CNTRY_DOMICILE] [varchar](50) NULL,
	[AS_OF_DATE] [date] NOT NULL,
	[CARBON_EMISSIONS_SCOPE_1] [decimal](19, 4) NULL,
	[CARBON_EMISSIONS_SCOPE_1_KEY] [varchar](50) NULL,
	[CARBON_EMISSIONS_SCOPE_2] [decimal](19, 4) NULL,
	[CARBON_EMISSIONS_SCOPE_2_KEY] [varchar](50) NULL,
	[CARBON_EMISSIONS_YEAR] [varchar](50) NULL,
	[CARBON_EMISSIONS_SCOPE_3_TOTAL] [decimal](19, 4) NULL,
	[CARBON_EMISSIONS_SCOPE_3_ESTIMATES_YEAR] [varchar](50) NULL,
	[LABOR_COMPLIANCE_BROAD] [varchar](50) NULL,
	[COAL_CON_GWH] [decimal](19, 4) NULL,
	[LIGNITE_CON_GWH] [decimal](19, 4) NULL,
	[NGAS_CON_GWH] [decimal](19, 4) NULL,
	[OG_CONSUMP_GWH] [decimal](19, 4) NULL,
	[NUCLEAR_CON_GWH] [decimal](19, 4) NULL,
	[FFUEL_CON_GWH] [decimal](19, 4) NULL,
	[OTHER_NRENEW_CON_GWH] [decimal](19, 4) NULL,
	[HIGH_EXTREME_WTR_STRESS] [varchar](50) NULL,
	[NONRECYL_WASTE] [decimal](19, 4) NULL,
	[OPS_IUCN_NSPECIES] [varchar](50) NULL,
	[DEFOREST_POL] [varchar](50) NULL,
	[CARBON_EMISSIONS_REDUCT_INITIATIVES] [varchar](50) NULL,
	[TRIR] [decimal](19, 4) NULL,
	[WORKPLACE_ACC_PREV_POL] [varchar](50) NULL,
	[WHISTLEBLOWER_PROTECT_POLICY] [varchar](50) NULL,
	[HUMAN_RGTS_POL] [varchar](50) NULL,
	[HUMAN_RGTS_DD] [varchar](50) NULL,
	[HUM_TRAFK_POL] [varchar](50) NULL,
	[OPS_SRISK_CHILD_LABOR] [varchar](50) NULL,
	[OPS_SRISK_FORCED_LABOR] [varchar](50) NULL,
	[CORR_BRIB_POLICY_UN] [varchar](50) NULL,
	[BREACHES_CORRBRIB] [varchar](50) NULL,
	[CORR_BRIB_CONVICTIONS] [decimal](19, 4) NULL,
	[CORR_BRIB_FINES] [decimal](19, 4) NULL,
	[GENDER_PAY_GAP_RATIO] [decimal](19, 4) NULL,
	[FM_BOARD_RATIO] [decimal](19, 4) NULL,
	[ACTIVE_FF_SECTOR_EXPOSURE] [varchar](50) NULL,
	[TOTL_ERGY_CONSUMP_GWH] [decimal](19, 4) NULL,
	[TOTL_ERGY_CONSUMP_NONRENEW_GWH] [decimal](19, 4) NULL,
	[TOTL_ERGY_CONSUMP_RENEW_GWH] [decimal](19, 4) NULL,
	[TOTL_ENRGY_CONSUMP_YEAR] [varchar](50) NULL,
	[OPS_PROT_BIODIV_AREAS] [varchar](50) NULL,
	[WATER_EM_EFF_METRIC_TONS] [decimal](19, 4) NULL,
	[HAZARD_WASTE_METRIC_TON] [decimal](19, 4) NULL,
	[LABOR_DDIL_POL_ILO] [varchar](50) NULL,
	[CONTRO_WEAP_CBLMBW_ANYTIE] [varchar](50) NULL,
	[ENERGY_CONSUMP_INTEN_USD] [decimal](19, 4) NULL,
	[CONTR_HUMAN_RIGHTS_N_SEVERE] [decimal](19, 4) NULL,
	[CEO_EMP_PAY_RATIO_RECENT] [decimal](19, 4) NULL,
	[GOVERNMENT_RAW_GINI] [decimal](19, 4) NULL,
	[GOVERNMENT_RAW_PRESS_FREED] [decimal](19, 4) NULL,
	[GOVERNMENT_RAW_CORR_PERC_INDEX] [decimal](19, 4) NULL,
	[GOVERNMENT_STABILITY_PEACE_SCORE] [decimal](19, 4) NULL,
	[GOVERNMENT_RAW_RULE_OF_LAW] [decimal](19, 4) NULL,
	[OVERALL_FLAG] [varchar](50) NULL,
	[CONTR_DISCRIMINATION_DIV_N_SEVERE] [decimal](19, 4) NULL,
	[MECH_UN_GLOBAL_COMPACT] [varchar](50) NULL,
	[EVIC_EUR] [decimal](19, 4) NULL,
	[EVIC_USD_RECENT] [decimal](19, 4) NULL,
	[EVIC_USD_YEAR] [varchar](50) NULL,
	[SALES_EUR] [decimal](19, 4) NULL,
	[SALES_USD_RECENT] [decimal](19, 4) NULL,
	[SALES_USD_YEAR] [varchar](50) NULL,
	[ENERGY_CONSUMP_INTEN_EUR] [decimal](19, 4) NULL,
	[PCT_NONRENEW_CONSUMP_PROD] [decimal](19, 4) NULL,
	[OPS_PROT_BIODIV_CONTROVS] [varchar](50) NULL,
	[NON_COOP_TAX_JURIS] [varchar](50) NULL,
	[ENVIRONMENT_LAND_FLAG] [varchar](50) NULL,
	[GOVERNMENT_EU_SANCTIONS] [varchar](50) NULL,
	[TRIR_YEAR] [varchar](50) NULL,
	[GENDER_PAY_GAP_YEAR] [varchar](50) NULL,
	[FM_BOARD_RATIO_YEAR] [date] NULL,
	[ENERGY_CONSUMP_INTEN_EUR_YEAR] [varchar](50) NULL,
	[HAZARD_WASTE_METRIC_TON_YEAR] [varchar](50) NULL,
	[NONRECYL_WASTE_YEAR] [varchar](50) NULL,
	[TOTL_ERGY_CONSUMP_NONRENEW_GWH_YEAR] [varchar](50) NULL,
	[WATER_EM_EFF_METRIC_TONS_YEAR] [varchar](50) NULL,
	[CTRY_GHG_INTEN_GDP_EUR] [decimal](19, 4) NULL,
	[GOVERNMENT_FUNDAMENTAL_RIGHTS] [decimal](19, 4) NULL,
	[CARBON_EMISSIONS_EVIC_EUR_SCOPE123_INTEN] [decimal](19, 4) NULL,
	[CARBON_EMISSIONS_SCOPE123] [decimal](19, 4) NULL,
	[CARBON_REDUCT_INITIATIVES_PA] [varchar](50) NULL,
	[NACE_SECTION_CODE] [varchar](50) NULL,
	[NACE_SECTION_DESCRIPTION] [varchar](2000) NULL,
	[CARBON_EMISSIONS_SALES_EUR_SCOPE123_INTEN] [decimal](19, 4) NULL,
	[NACE_GROUP_CODE] [varchar](50) NULL,
	[NACE_GROUP_DESCRIPTION] [varchar](2000) NULL,
	[NACE_DIVISION_CODE] [varchar](50) NULL,
	[NACE_DIVISION_DESCRIPTION] [varchar](2000) NULL,
	[NACE_CLASS_CODE] [varchar](50) NULL,
	[NACE_CLASS_DESCRIPTION] [varchar](2000) NULL,
	[FEMALE_DIRECTORS_PCT] [decimal](19, 4) NULL,
	[WATER_MGT_POL_VALUE] [varchar](50) NULL,
	[EXPOSURE_WATER_STRESS_NO_POL_VALUE] [varchar](50) NULL,
	[LAND_DEGRADE_ACTIV_REPRT_VALUE] [varchar](50) NULL,
	[SUST_AGRI_POL_PRACT_VALUE] [varchar](50) NULL,
	[SUST_SEAS_POL_PRACT_VALUE] [varchar](50) NULL,
	[SUST_BIODIV_PROTECT_POL_VALUE] [varchar](50) NULL,
	[OPS_PROT_BIODIV_AREAS_POL_VALUE] [varchar](50) NULL,
	[SUPPLIER_CODE_KEY_PROVISIONS_VALUE] [varchar](50) NULL,
	[GRIEV_COMPLAIN_PROCEDURE_VALUE] [varchar](50) NULL,
 CONSTRAINT [Pk_DIR_SFDR_ISSUERID_AS_OF_DATE] PRIMARY KEY CLUSTERED 
(
	[ISSUERID] ASC,
	[AS_OF_DATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
