USE [ESG]
GO
/****** Object:  Table [ESG].[FUND_MASTER]    Script Date: 4/18/2023 12:13:15 PM ******/
DROP TABLE IF EXISTS [ESG].[FUND_MASTER]
GO
/****** Object:  Table [ESG].[FUND_MASTER]    Script Date: 4/18/2023 12:13:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ESG].[FUND_MASTER](
	[SR_NO] [bigint] IDENTITY(1,1) NOT NULL,
	[CLIENTREFERENCE] [nvarchar](50) NOT NULL,
	[CLIENTNAME] [nvarchar](255) NOT NULL,
	[ISIN] [nvarchar](50) NULL,
	[PLATFORM] [nvarchar](50) NOT NULL,
	[SOURCE] [nvarchar](50) NOT NULL,
	[Finance_excluded] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[SR_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
