USE [ESG]
GO
/****** Object:  Table [ESG].[STG_CLTV_STDCOV_CLIMATECHANGE]    Script Date: 4/18/2023 12:13:15 PM ******/
DROP TABLE IF EXISTS [ESG].[STG_CLTV_STDCOV_CLIMATECHANGE]
GO
/****** Object:  Table [ESG].[STG_CLTV_STDCOV_CLIMATECHANGE]    Script Date: 4/18/2023 12:13:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ESG].[STG_CLTV_STDCOV_CLIMATECHANGE](
	[FUND_ID] [varchar](50) NULL,
	[FUND_OVERVIEW_NAME] [varchar](255) NULL,
	[FUND_SHARE_CLASS_ID] [varchar](50) NULL,
	[FUND_NAME] [varchar](255) NULL,
	[FUND_CUSIP] [varchar](50) NULL,
	[FUND_ISIN] [varchar](50) NULL,
	[FUND_SEDOL] [varchar](50) NULL,
	[AS_OF_DATE] [varchar](50) NULL,
	[FUND_IMPLIED_TEMP_RISE_OVERSHOOT] [varchar](50) NULL,
	[FUND_IMPLIED_TEMP_RISE_BUDGET] [varchar](50) NULL,
	[FUND_IMPLIED_TEMP_RISE] [varchar](50) NULL,
	[FUND_IMPLIED_TEMP_RISE_COVERAGE] [varchar](50) NULL,
	[FUND_FINANCED_CARBON_EMISSIONS] [varchar](50) NULL,
	[FUND_FINANCED_CARBON_EMISSIONS_COVERAGE] [varchar](50) NULL,
	[FUND_WEIGHTED_AVG_CARBON_INTEN] [varchar](50) NULL,
	[FUND_WEIGHTED_AVG_CARBON_INTEN_COVERAGE] [varchar](50) NULL,
	[FUND_WEIGHTED_AVG_SOV_CARBON_INTEN] [varchar](50) NULL,
	[FUND_WEIGHTED_AVG_SOV_CARBON_INTEN_COVERAGE] [varchar](50) NULL,
	[FUND_FOSS_FUEL_SECT_EXP_PCT] [varchar](50) NULL,
	[FUND_FOSSIL_FUEL_REVENUES_PCT] [varchar](50) NULL,
	[FUND_GREEN_REVENUES_PCT] [varchar](50) NULL,
	[FUND_GREEN_FFB_REV_RATIO] [varchar](50) NULL,
	[FUND_CARBON_EMISSIONS_SCOPE_3_TOT_EVIC_INTEN] [varchar](50) NULL,
	[FUND_CARBON_EMISSIONS_SCOPE_3_TOT_EVIC_INTEN_COV] [varchar](50) NULL
) ON [PRIMARY]
GO
