USE [ESG]
GO
/****** Object:  Table [ESG].[DIR_ESG_RATING]    Script Date: 4/18/2023 12:13:15 PM ******/
DROP TABLE IF EXISTS [ESG].[DIR_ESG_RATING]
GO
/****** Object:  Table [ESG].[DIR_ESG_RATING]    Script Date: 4/18/2023 12:13:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ESG].[DIR_ESG_RATING](
	[ISSUERID] [varchar](50) NULL,
	[IVA_COMPANY_RATING] [varchar](50) NULL,
	[IVA_RATING_DATE] [date] NULL,
	[IVA_INDUSTRY] [varchar](255) NULL,
	[IVA_PREVIOUS_RATING] [varchar](50) NULL,
	[IVA_RATING_TREND] [decimal](19, 4) NULL,
	[INDUSTRY_ADJUSTED_SCORE] [decimal](19, 4) NULL,
	[ENVIRONMENTAL_PILLAR_SCORE] [decimal](19, 4) NULL,
	[ENVIRONMENTAL_PILLAR_WEIGHT] [decimal](19, 4) NULL,
	[ENVIRONMENTAL_PILLAR_QUARTILE] [int] NULL,
	[GOVERNANCE_PILLAR_SCORE] [decimal](19, 4) NULL,
	[GOVERNANCE_PILLAR_WEIGHT] [decimal](19, 4) NULL,
	[GOVERNANCE_PILLAR_QUARTILE] [int] NULL,
	[SOCIAL_PILLAR_SCORE] [decimal](19, 4) NULL,
	[SOCIAL_PILLAR_WEIGHT] [decimal](19, 4) NULL,
	[SOCIAL_PILLAR_QUARTILE] [int] NULL,
	[GICS_SUB_IND] [varchar](255) NULL,
	[AS_OF_DATE] [date] NULL
) ON [PRIMARY]
GO
