USE [ESG]
GO
/****** Object:  Table [ESG].[STG_CLTV_STD_COVERAGE]    Script Date: 4/18/2023 12:13:15 PM ******/
DROP TABLE IF EXISTS [ESG].[STG_CLTV_STD_COVERAGE]
GO
/****** Object:  Table [ESG].[STG_CLTV_STD_COVERAGE]    Script Date: 4/18/2023 12:13:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ESG].[STG_CLTV_STD_COVERAGE](
	[FUND_SHARE_CLASS_ID] [varchar](50) NULL,
	[FUND_NAME] [varchar](255) NULL,
	[FUND_CUSIP] [varchar](50) NULL,
	[FUND_ISIN] [varchar](50) NULL,
	[FUND_SEDOL] [varchar](50) NULL,
	[AS_OF_DATE] [varchar](50) NULL,
	[FUND_ID] [varchar](50) NULL,
	[FUND_MANAGER] [varchar](255) NULL,
	[FUND_OF_FUNDS] [varchar](50) NULL,
	[FUND_HOLDINGS_COUNT] [varchar](50) NULL,
	[FUND_HOLDING_FUNDS_COUNT] [varchar](50) NULL,
	[FUND_HOLDINGS_MATCHED] [varchar](50) NULL,
	[FUND_LATEST_HOLDINGS_DATE] [varchar](50) NULL,
	[FUND_NAV_USD] [varchar](50) NULL,
	[FUND_ASSET_CLASS] [varchar](50) NULL,
	[FUND_ASSET_UNIVERSE] [varchar](50) NULL,
	[FUND_DOMICILE] [varchar](50) NULL,
	[FUND_LIPPER_GLOBAL_CLASS] [varchar](50) NULL,
	[FUND_LIPPER_GLOBAL_CLASS_SIZE] [varchar](50) NULL,
	[FUND_ESG_POLICY] [varchar](50) NULL,
	[FUND_ESG_COVERAGE] [varchar](50) NULL,
	[FUND_ESG_QUALITY_SCORE] [varchar](50) NULL,
	[FUND_ESG_QUALITY_SCORE_PCTL_PEER] [varchar](50) NULL,
	[FUND_ESG_QUALITY_SCORE_PCTL_GLOBAL] [varchar](50) NULL,
	[ESG_ENVIRONMENTAL_SCORE] [varchar](50) NULL,
	[ESG_SOCIAL_SCORE] [varchar](50) NULL,
	[ESG_GOVERNANCE_SCORE] [varchar](50) NULL,
	[ESG_RATING_AAA] [varchar](50) NULL,
	[ESG_RATING_AA] [varchar](50) NULL,
	[ESG_RATING_A] [varchar](50) NULL,
	[ESG_RATING_BBB] [varchar](50) NULL,
	[ESG_RATING_BB] [varchar](50) NULL,
	[ESG_RATING_B] [varchar](50) NULL,
	[ESG_RATING_CCC] [varchar](50) NULL,
	[ESG_RATING_NOVALUE] [varchar](50) NULL,
	[FUND_WEIGHTED_AVG_CARBON_INTEN] [varchar](50) NULL,
	[FUND_FOSSIL_FUEL_RESERVES_PCT] [varchar](50) NULL,
	[FUND_HIGH_IMPACT_FOSSIL_FUEL_RESERVES_PCT] [varchar](50) NULL,
	[FUND_WATER_STRESS_HIGH_RISK_BUS_PCT] [varchar](50) NULL,
	[FUND_WATER_STRESS_HIGH_RISK_GEO_PCT] [varchar](50) NULL,
	[FUND_WATER_STRESS_EXP_SCORE_MODERATE_PCT] [varchar](50) NULL,
	[FUND_WATER_STRESS_EXP_SCORE_HIGH_PCT] [varchar](50) NULL,
	[FUND_WATER_STRESS_EXP_SCORE_LOW_PCT] [varchar](50) NULL,
	[FUND_BOARD_FLAG_PCT] [varchar](50) NULL,
	[FUND_LACK_INDEP_MAJORITY_PCT] [varchar](50) NULL,
	[FUND_ESG_RATING] [varchar](50) NULL,
	[FUND_WEIGHTED_AVG_CARBON_INTEN_COVERAGE] [varchar](50) NULL,
	[FUND_ESG_COVERAGE_OVERALL] [varchar](50) NULL,
	[FUND_ENVIRONMENTAL_WEIGHT] [varchar](50) NULL,
	[FUND_GOVERNANCE_WEIGHT] [varchar](50) NULL,
	[FUND_SOCIAL_WEIGHT] [varchar](50) NULL,
	[FUND_WEIGHTED_AVG_ESG_SCORE] [varchar](50) NULL,
	[FUND_SDG_COVERAGE] [varchar](50) NULL,
	[FUND_SDG01_ACHIEVE_SIGNAL] [varchar](50) NULL,
	[FUND_SDG02_ACHIEVE_SIGNAL] [varchar](50) NULL,
	[FUND_SDG03_ACHIEVE_SIGNAL] [varchar](50) NULL,
	[FUND_SDG04_ACHIEVE_SIGNAL] [varchar](50) NULL,
	[FUND_SDG05_ACHIEVE_SIGNAL] [varchar](50) NULL,
	[FUND_SDG06_ACHIEVE_SIGNAL] [varchar](50) NULL,
	[FUND_SDG07_ACHIEVE_SIGNAL] [varchar](50) NULL,
	[FUND_SDG08_ACHIEVE_SIGNAL] [varchar](50) NULL,
	[FUND_SDG09_ACHIEVE_SIGNAL] [varchar](50) NULL,
	[FUND_SDG10_ACHIEVE_SIGNAL] [varchar](50) NULL,
	[FUND_SDG11_ACHIEVE_SIGNAL] [varchar](50) NULL,
	[FUND_SDG12_ACHIEVE_SIGNAL] [varchar](50) NULL,
	[FUND_SDG13_ACHIEVE_SIGNAL] [varchar](50) NULL,
	[FUND_SDG14_ACHIEVE_SIGNAL] [varchar](50) NULL,
	[FUND_SDG15_ACHIEVE_SIGNAL] [varchar](50) NULL,
	[FUND_SDG16_ACHIEVE_SIGNAL] [varchar](50) NULL,
	[FUND_SDG17_ACHIEVE_SIGNAL] [varchar](50) NULL,
	[FUND_ESG_QUALITY_SCORE_AVG_PEER] [varchar](50) NULL,
	[FUND_ESG_ENV_SCORE_AVG_PEER] [varchar](50) NULL,
	[FUND_ESG_SOCIAL_SCORE_AVG_PEER] [varchar](50) NULL,
	[FUND_ESG_GOV_SCORE_AVG_PEER] [varchar](50) NULL,
	[FUND_GEO_FOCUS] [varchar](50) NULL,
	[FUND_OVERVIEW_NAME] [varchar](255) NULL
) ON [PRIMARY]
GO
