USE [ESG]
GO
/****** Object:  Table [ESG].[CLTV_STDCOV_CLIMATECHANGE]    Script Date: 4/18/2023 12:13:15 PM ******/
DROP TABLE IF EXISTS [ESG].[CLTV_STDCOV_CLIMATECHANGE]
GO
/****** Object:  Table [ESG].[CLTV_STDCOV_CLIMATECHANGE]    Script Date: 4/18/2023 12:13:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ESG].[CLTV_STDCOV_CLIMATECHANGE](
	[FUND_ID] [varchar](50) NULL,
	[FUND_OVERVIEW_NAME] [varchar](255) NULL,
	[FUND_SHARE_CLASS_ID] [varchar](50) NOT NULL,
	[FUND_NAME] [varchar](255) NULL,
	[FUND_CUSIP] [varchar](50) NULL,
	[FUND_ISIN] [varchar](50) NULL,
	[FUND_SEDOL] [varchar](50) NULL,
	[AS_OF_DATE] [date] NOT NULL,
	[FUND_IMPLIED_TEMP_RISE_OVERSHOOT] [decimal](19, 4) NULL,
	[FUND_IMPLIED_TEMP_RISE_BUDGET] [decimal](19, 4) NULL,
	[FUND_IMPLIED_TEMP_RISE] [decimal](19, 4) NULL,
	[FUND_IMPLIED_TEMP_RISE_COVERAGE] [decimal](19, 4) NULL,
	[FUND_FINANCED_CARBON_EMISSIONS] [decimal](19, 4) NULL,
	[FUND_FINANCED_CARBON_EMISSIONS_COVERAGE] [decimal](19, 4) NULL,
	[FUND_WEIGHTED_AVG_CARBON_INTEN] [decimal](19, 4) NULL,
	[FUND_WEIGHTED_AVG_CARBON_INTEN_COVERAGE] [decimal](19, 4) NULL,
	[FUND_WEIGHTED_AVG_SOV_CARBON_INTEN] [decimal](19, 4) NULL,
	[FUND_WEIGHTED_AVG_SOV_CARBON_INTEN_COVERAGE] [decimal](19, 4) NULL,
	[FUND_FOSS_FUEL_SECT_EXP_PCT] [decimal](19, 4) NULL,
	[FUND_FOSSIL_FUEL_REVENUES_PCT] [decimal](19, 4) NULL,
	[FUND_GREEN_REVENUES_PCT] [decimal](19, 4) NULL,
	[FUND_GREEN_FFB_REV_RATIO] [decimal](19, 4) NULL,
	[FUND_CARBON_EMISSIONS_SCOPE_3_TOT_EVIC_INTEN] [decimal](19, 4) NULL,
	[FUND_CARBON_EMISSIONS_SCOPE_3_TOT_EVIC_INTEN_COV] [decimal](19, 4) NULL,
 CONSTRAINT [Pk_CLTV_STDCOV_CLIMATECHANGE_FUND_SHARE_CLASS_ID_AS_OF_DATE] PRIMARY KEY CLUSTERED 
(
	[FUND_SHARE_CLASS_ID] ASC,
	[AS_OF_DATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
