USE [ESG]
GO
/****** Object:  Table [ESG].[DIR_EUTAXONOMY]    Script Date: 4/18/2023 12:13:15 PM ******/
DROP TABLE IF EXISTS [ESG].[DIR_EUTAXONOMY]
GO
/****** Object:  Table [ESG].[DIR_EUTAXONOMY]    Script Date: 4/18/2023 12:13:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ESG].[DIR_EUTAXONOMY](
	[ISSUER_NAME] [varchar](500) NULL,
	[ISSUERID] [varchar](50) NOT NULL,
	[ISSUER_CNTRY_DOMICILE] [varchar](50) NULL,
	[AS_OF_DATE] [date] NOT NULL,
	[CWEAP_TIE] [varchar](1) NULL,
	[ENVIRONMENT_CONTROVERSY_SCORE] [decimal](19, 4) NULL,
	[GOVERNANCE_CONTROVERSY_SCORE] [decimal](19, 4) NULL,
	[SOCIAL_CONTROVERSY_SCORE] [decimal](19, 4) NULL,
	[EST_EU_TAXONOMY_MAX_REV] [decimal](19, 4) NULL,
	[CT_TOTAL_MAX_REV] [decimal](19, 4) NULL,
	[TOB_DIST_MAX_REV_PCT] [decimal](19, 4) NULL,
	[TOB_PRODUCER] [varchar](1) NULL,
	[TOB_RET_MAX_REV_PCT] [decimal](19, 4) NULL,
	[TOB_SUPP_MAX_REV_PCT] [decimal](19, 4) NULL,
	[EU_TAXONOMY_ELIGIBLE_MAX_REV] [decimal](19, 4) NULL,
	[EU_TAXONOMY_ELIGIBLE_KEY] [varchar](50) NULL,
	[EU_TAXONOMY_ELIGIBLE_YEAR] [varchar](50) NULL,
	[EU_TAXONOMY_NON_ELIGIBLE_MAX_REV] [decimal](19, 4) NULL,
PRIMARY KEY CLUSTERED 
(
	[ISSUERID] ASC,
	[AS_OF_DATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
