USE [ESG]
GO
/****** Object:  Table [ESG].[RESPONSIBLE_INVESTMENT_MANAGER]    Script Date: 4/18/2023 12:13:15 PM ******/
DROP TABLE IF EXISTS [ESG].[RESPONSIBLE_INVESTMENT_MANAGER]
GO
/****** Object:  Table [ESG].[RESPONSIBLE_INVESTMENT_MANAGER]    Script Date: 4/18/2023 12:13:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ESG].[RESPONSIBLE_INVESTMENT_MANAGER](
	[RESPONSIBLE_INVESTMENT_MANAGER_ID] [int] NOT NULL,
	[RESPONSIBLE_INVESTMENT_MANAGER] [varchar](150) NOT NULL,
	[RESPONSIBLE_INVESTMENT_CODE] [varchar](100) NULL,
	[TEAM_NAME] [varchar](100) NULL,
	[LEAD_INVESTMENT_MANAGER] [varchar](100) NULL,
	[OFFICE] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[RESPONSIBLE_INVESTMENT_MANAGER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
