USE [ESG]
GO
/****** Object:  Table [ESG].[DIR_SDGA]    Script Date: 4/18/2023 12:13:15 PM ******/
DROP TABLE IF EXISTS [ESG].[DIR_SDGA]
GO
/****** Object:  Table [ESG].[DIR_SDGA]    Script Date: 4/18/2023 12:13:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ESG].[DIR_SDGA](
	[ISSUER_NAME] [varchar](500) NULL,
	[ISSUERID] [varchar](50) NOT NULL,
	[ISSUER_CNTRY_DOMICILE] [varchar](50) NULL,
	[AS_OF_DATE] [date] NOT NULL,
	[SDG_01_NET_ALIGNMENT] [varchar](50) NULL,
	[SDG_02_NET_ALIGNMENT] [varchar](50) NULL,
	[SDG_03_NET_ALIGNMENT] [varchar](50) NULL,
	[SDG_04_NET_ALIGNMENT] [varchar](50) NULL,
	[SDG_05_NET_ALIGNMENT] [varchar](50) NULL,
	[SDG_06_NET_ALIGNMENT] [varchar](50) NULL,
	[SDG_07_NET_ALIGNMENT] [varchar](50) NULL,
	[SDG_08_NET_ALIGNMENT] [varchar](50) NULL,
	[SDG_09_NET_ALIGNMENT] [varchar](50) NULL,
	[SDG_10_NET_ALIGNMENT] [varchar](50) NULL,
	[SDG_11_NET_ALIGNMENT] [varchar](50) NULL,
	[SDG_12_NET_ALIGNMENT] [varchar](50) NULL,
	[SDG_13_NET_ALIGNMENT] [varchar](50) NULL,
	[SDG_14_NET_ALIGNMENT] [varchar](50) NULL,
	[SDG_15_NET_ALIGNMENT] [varchar](50) NULL,
	[SDG_16_NET_ALIGNMENT] [varchar](50) NULL,
	[SDG_17_NET_ALIGNMENT] [varchar](50) NULL,
	[SDG_01_NET_ALIGNMENT_SCORE] [decimal](19, 4) NULL,
	[SDG_02_NET_ALIGNMENT_SCORE] [decimal](19, 4) NULL,
	[SDG_03_NET_ALIGNMENT_SCORE] [decimal](19, 4) NULL,
	[SDG_04_NET_ALIGNMENT_SCORE] [decimal](19, 4) NULL,
	[SDG_05_NET_ALIGNMENT_SCORE] [decimal](19, 4) NULL,
	[SDG_06_NET_ALIGNMENT_SCORE] [decimal](19, 4) NULL,
	[SDG_07_NET_ALIGNMENT_SCORE] [decimal](19, 4) NULL,
	[SDG_08_NET_ALIGNMENT_SCORE] [decimal](19, 4) NULL,
	[SDG_09_NET_ALIGNMENT_SCORE] [decimal](19, 4) NULL,
	[SDG_10_NET_ALIGNMENT_SCORE] [decimal](19, 4) NULL,
	[SDG_11_NET_ALIGNMENT_SCORE] [decimal](19, 4) NULL,
	[SDG_12_NET_ALIGNMENT_SCORE] [decimal](19, 4) NULL,
	[SDG_13_NET_ALIGNMENT_SCORE] [decimal](19, 4) NULL,
	[SDG_14_NET_ALIGNMENT_SCORE] [decimal](19, 4) NULL,
	[SDG_15_NET_ALIGNMENT_SCORE] [decimal](19, 4) NULL,
	[SDG_16_NET_ALIGNMENT_SCORE] [decimal](19, 4) NULL,
	[SDG_17_NET_ALIGNMENT_SCORE] [decimal](19, 4) NULL,
 CONSTRAINT [Pk_DIR_SDGA_ISSUERID_AS_OF_DATE] PRIMARY KEY CLUSTERED 
(
	[ISSUERID] ASC,
	[AS_OF_DATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
