USE [ESG]
GO
/****** Object:  Table [ESG].[IM_PERMISSIONS]    Script Date: 4/18/2023 12:13:15 PM ******/
DROP TABLE IF EXISTS [ESG].[IM_PERMISSIONS]
GO
/****** Object:  Table [ESG].[IM_PERMISSIONS]    Script Date: 4/18/2023 12:13:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ESG].[IM_PERMISSIONS](
	[SERIAL_NUMBER] [int] IDENTITY(1,1) NOT NULL,
	[EmailID] [varchar](150) NOT NULL,
	[STAFF_CODE] [varchar](100) NULL,
	[RESPONSIBLE_INVESTMENT_MANAGER_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SERIAL_NUMBER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
