USE [ESG]
GO
/****** Object:  Table [ESG].[STG_DIR_GOVRATING]    Script Date: 4/18/2023 12:13:15 PM ******/
DROP TABLE IF EXISTS [ESG].[STG_DIR_GOVRATING]
GO
/****** Object:  Table [ESG].[STG_DIR_GOVRATING]    Script Date: 4/18/2023 12:13:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ESG].[STG_DIR_GOVRATING](
	[ISSUER_NAME] [varchar](255) NULL,
	[ISSUERID] [varchar](255) NULL,
	[ISSUER_CNTRY_DOMICILE] [varchar](255) NULL,
	[AS_OF_DATE] [varchar](255) NULL,
	[GOVERNMENT_RAW_AG_FOREST] [varchar](255) NULL,
	[GOVERNMENT_RAW_CO2] [varchar](255) NULL,
	[GOVERNMENT_RAW_CO2_FLAG] [varchar](255) NULL,
	[GOVERNMENT_RAW_EN_IMP_FLAG] [varchar](255) NULL,
	[GOVERNMENT_RAW_EN_CONS] [varchar](255) NULL,
	[GOVERNMENT_RAW_EN_CONS_FLAG] [varchar](255) NULL,
	[GOVERNMENT_RAW_EN_IMP] [varchar](255) NULL,
	[GOVERNMENT_RAW_EN_PROD] [varchar](255) NULL,
	[GOVERNMENT_RAW_EN_PROD_FLAG] [varchar](255) NULL,
	[GOVERNMENT_RAW_EN_RES_DEP] [varchar](255) NULL,
	[GOVERNMENT_RAW_FOR_COV] [varchar](255) NULL,
	[GOVERNMENT_RAW_GHG_PCT] [varchar](255) NULL,
	[GOVERNMENT_RAW_GHG_CAPITA] [varchar](255) NULL,
	[GOVERNMENT_RAW_PART_EM_DAMAGE] [varchar](255) NULL,
	[GOVERNMENT_RAW_POP_NAT_DIS] [varchar](255) NULL,
	[GOVERNMENT_RAW_REN_WATER] [varchar](255) NULL,
	[GOVERNMENT_RAW_WATER_WD] [varchar](255) NULL,
	[GOVERNMENT_TOTAL_EXP_SCORE] [varchar](255) NULL,
	[GOVERNMENT_ESG_RATING] [varchar](255) NULL,
	[GOVERNMENT_CLASSIFICATION] [varchar](255) NULL,
	[GOVERNMENT_PREVIOUS_RATING] [varchar](255) NULL,
	[GOVERNMENT_REGION] [varchar](255) NULL,
	[GOVERNMENT_UN_SANCTIONS] [varchar](255) NULL,
	[GOVERNMENT_EU_SANCTIONS] [varchar](255) NULL,
	[GOVERNMENT_USE_CHILD_LABOR] [varchar](255) NULL
) ON [PRIMARY]
GO
