USE [ESG]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[ESG].[SEC_LEVEL_ISSUER_REF]') AND type in (N'U'))
ALTER TABLE [ESG].[SEC_LEVEL_ISSUER_REF] DROP CONSTRAINT IF EXISTS [DF__SEC_LEVEL__LOAD___6EF57B66]
GO
/****** Object:  Table [ESG].[SEC_LEVEL_ISSUER_REF]    Script Date: 4/18/2023 12:13:15 PM ******/
DROP TABLE IF EXISTS [ESG].[SEC_LEVEL_ISSUER_REF]
GO
/****** Object:  Table [ESG].[SEC_LEVEL_ISSUER_REF]    Script Date: 4/18/2023 12:13:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ESG].[SEC_LEVEL_ISSUER_REF](
	[ISSUERID] [varchar](50) NOT NULL,
	[ISSUER_SEDOL] [varchar](50) NOT NULL,
	[ISSUER_ISIN] [varchar](50) NOT NULL,
	[LOAD_DATE] [date] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [ESG].[SEC_LEVEL_ISSUER_REF] ADD  DEFAULT (CONVERT([date],getdate())) FOR [LOAD_DATE]
GO
