USE [ESG]
GO
/****** Object:  Table [ESG].[EOD_FXRATE]    Script Date: 4/18/2023 12:13:15 PM ******/
DROP TABLE IF EXISTS [ESG].[EOD_FXRATE]
GO
/****** Object:  Table [ESG].[EOD_FXRATE]    Script Date: 4/18/2023 12:13:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ESG].[EOD_FXRATE](
	[ID] [bigint] NOT NULL,
	[SRC_CURRENCY_CODE] [varchar](50) NULL,
	[DEST_CURRENCY_CODE] [varchar](50) NULL,
	[DATE] [date] NULL,
	[VALUE] [decimal](19, 4) NULL,
	[LOADDATE] [date] NULL,
 CONSTRAINT [Pk_EOD_FXRate_ID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
