USE [ESG]
GO
/****** Object:  Table [ESG].[STG_DIR_EUTAXONOMY]    Script Date: 4/18/2023 12:13:15 PM ******/
DROP TABLE IF EXISTS [ESG].[STG_DIR_EUTAXONOMY]
GO
/****** Object:  Table [ESG].[STG_DIR_EUTAXONOMY]    Script Date: 4/18/2023 12:13:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ESG].[STG_DIR_EUTAXONOMY](
	[ISSUER_NAME] [varchar](255) NULL,
	[ISSUERID] [varchar](100) NOT NULL,
	[ISSUER_CNTRY_DOMICILE] [varchar](100) NULL,
	[AS_OF_DATE] [varchar](100) NOT NULL,
	[CWEAP_TIE] [varchar](100) NULL,
	[ENVIRONMENT_CONTROVERSY_SCORE] [varchar](100) NULL,
	[GOVERNANCE_CONTROVERSY_SCORE] [varchar](100) NULL,
	[SOCIAL_CONTROVERSY_SCORE] [varchar](100) NULL,
	[EST_EU_TAXONOMY_MAX_REV] [varchar](100) NULL,
	[CT_TOTAL_MAX_REV] [varchar](100) NULL,
	[TOB_DIST_MAX_REV_PCT] [varchar](100) NULL,
	[TOB_PRODUCER] [varchar](100) NULL,
	[TOB_RET_MAX_REV_PCT] [varchar](100) NULL,
	[TOB_SUPP_MAX_REV_PCT] [varchar](100) NULL,
	[EU_TAXONOMY_ELIGIBLE_MAX_REV] [varchar](100) NULL,
	[EU_TAXONOMY_ELIGIBLE_KEY] [varchar](100) NULL,
	[EU_TAXONOMY_ELIGIBLE_YEAR] [varchar](100) NULL,
	[EU_TAXONOMY_NON_ELIGIBLE_MAX_REV] [varchar](100) NULL
) ON [PRIMARY]
GO
